.sa-notification-bar {
    width: 400px;
    padding: 15px;
    color: white;

    &_top-wrapper {
        display: flex;
    }

    &_bottom-wrapper {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &_btn {
        display: flex;
        text-align: center;
        align-items: center;
        color: #059cdf;
        margin: 0 10px;
        font-size: 8px;
        cursor: pointer;
    }

    &_body {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &_left-container {
        margin-left: 10px;
        text-align: initial;

        &_body {
            font-size: 10px;
            opacity: 0.9;
        }
    }

    &_right-container {
        margin-top: 5px;
        svg {
            cursor: pointer;
        }
    }
}