.sui-pay-interval-frequency {
    &_item {
        text-align: left;
        display: flex;
        align-items: center;
    }
    .MuiToggleButton-root {
        width: 35px;
        height: 35px;
        border-radius: 50% !important;
        background-color: #f5f5f5;
        border-width: 0;
        margin-right: 10px;
        font-weight: bold;
        margin-left: -2px;
        border: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5 !important;
        line-height: 1;
    }
    .MuiToggleButtonGroup-root {
        margin-left: 1em; // .Mui-selected {
        //     background-color: #fff9cc !important;
        //     border: 1px solid #c4b545;
        //     border-left: 1px solid #c4b545 !important;
        //     color: #333;
        // }
    }
    &_monthly-wrapper {
        display: flex;
        align-items: center;
        gap: 1em;
    }
    &_monthly {
        display: flex;
        align-items: center;
        gap: 1em;
    }
    .ends-on-cls {
        display: flex;
        align-items: center;
        margin-left: 0.5em;
        span {
            margin-right: 10px;
        }
        .iq-customdate-cont {
            width: 120px;
        }
    }
    &_weekly-wrapper {
        display: flex;
        align-items: center;
    }
}