
$base-color: #ed7532;
.Inventory-section-container{
	margin:0em 0em 1em 0em;
	.Inventory-card{
		padding: 0.875em 1.25em 1.25em 1em;
		width:100%;
		.inventory-number{
			display: table;
			border: 1px solid $base-color;
			border-radius: 20px;
			padding: 0.25em 0.65em 0.25em 0.65em;
			font-weight: bold;
			color:$base-color;
		}
		.inventory-content{
			margin: 0.65em 0em 0em 1.87em;
			padding:0.65em;
			.textfield{
				width:90%
			}
			.selectfield{
				width:93%
			}
			.MuiInputLabel-asterisk{
				color:$base-color
			}
		}
	}
}



