.sm-brena-left-toolbar-cont {
    .MuiIconButton-root {
        margin: 0 -0.1rem;
    }
    display: flex;
    .data {
        display: flex;
        gap: 10px;
        .MuiIconButton-root {
            margin: 6px 0.1rem;
            width: 35px;
            height: 35px;
            span:before {
                color: #333;
                font-size: 22px;
            }
            .common-icon-tickmark:before {
                font-size: 26px;
            }
        }
        .Mui-disabled {
            span:before {
                color: rgb(102, 102, 102, 0.5);
                font-size: 22px;
            }
        }
    }
    .left-search-cls {
        margin-left: 20px;
        .iqsearch-field .MuiInputBase-root {
            border-left: 0px solid #ccc !important;
        }
    }
}