.phases-grid {
    height: 170px;
    width: 100%;
    overflow-y: auto;
    .ag-header {
        display: none;
    }
    .ag-cell {
        text-align: left;
        padding-left: 6px;
        .phases-color-picker-cell {
            display: flex;
            align-items: center;
            justify-content: center;
            height: inherit;
        }
        .ag-icon-grip {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
            &:before {
                content: "\eb3a";
                font-family: 'common-webfont';
                font-size: 24px;
                color: #333;
            }
        }
    }
    .phases-name-cell {
        padding-left: 14px;
    }
    .ag-row-dragging {
        background-color: #FFFBD7 !important;
    }
    .ag-root-wrapper {
        border-width: 0;
    }
}

.phases-grid-wrapper {
    &_toolbar {
        padding-left: 12px;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        button {
            color: #333;
        }
    }
    &_footer {
        display: flex;
        justify-content: end;
        margin: 15px 20px 0px 0;
        button {
            padding-top: 4px !important;
            padding-bottom: 4px !important;
            border: 1px solid #059cdf;
            background-color: #059cdf;
            border-radius: 2px;
            margin: 4px 2px;
            &:hover {
                border: 1px solid #099cdd;
                background-color: #099cdd;
            }
        }
    }
    &_text-field {
        .MuiFormControl-root {
            width: 100%;
            input {
                padding: 10px 5px 10px 22px;
            }
        }
    }
}

.phases-color-change-alert.SuiAlert {
    z-index: 1501;
}