@import "Smart_theme_variable";
.SuiDialog {
    // .MuiDialog-container .MuiPaper-root {
    // 	overflow-y: inherit !important;
    // 	.MuiDialogTitle-root {
    // 		padding: 0 0.5rem 0 1rem;
    // 	}
    // 	.MuiDialog-Presence.NoTools {
    // 		padding: 0px 1rem;
    // 	}
    // }
    .MuiDialog-container {
        .MuiDialogContent-root {
            padding: 0 !important;
        }
        .MuiPaper-root {
            margin: 0;
            .MuiDialogTitle-root {
                display: flex;
                line-height: 2;
                font-size: $titleSize;
                padding: 0 0.5rem 0 1rem;
                color: #333333 !important;
                .titlebar-inner-items {
                    flex: 1;
                    &.title-text {
                        display: flex;
                        align-items: center;
                        font-family: 'Roboto-Regular'
                    }
                }
                .title-tools {
                    text-align: right;
                    .MuiButtonBase-root {
                        width: 36px;
                        height: 36px;
                        font-size: 1rem;
                        padding-left: 0.5em;
                        padding-right: 0.5em;
                        img {
                            width: inherit;
                            height: inherit;
                            object-fit: contain;
                        }
                    }
                }
            }
            .MuiDialogActions-root {
                padding: 1em;
            }
            .MuiDialog-Presence {
                display: flex;
                justify-content: flex-end;
            }
            .MuiDialog-Presence.NoTools {
                padding: 0px 12px 0px;
            }
        }
    } // .MuiDialog-container {
    // 	.MuiPaper-root {
    // 		margin: 0;
    // 		.MuiDialogTitle-root {
    // 			display: flex;
    // 			line-height: 2;
    // 			// font-size:28px !important;
    // 			padding: 0px 5px 0px 20px;
    // 			color: #333333 !important;
    // 			.titlebar-inner-items {
    // 				flex: 1;
    // 				&.title-text {
    // 					display: flex;
    // 					align-items: center;
    // 					font-family: 'Roboto-Regular'
    // 				}
    // 			}
    // 			.title-tools {
    // 				text-align: right;
    // 				.MuiButtonBase-root {
    // 					padding-left: 0.5em;
    // 					padding-right: 0.5em;
    // 					font-size: 1rem;
    // 				}
    // 			}
    // 		}
    // 		.MuiDialogActions-root {
    // 			padding: 1em;
    // 		}
    // 		.MuiDialog-Presence {
    // 			display: flex;
    // 			justify-content: flex-end;
    // 		}
    // 		.MuiDialog-Presence.NoTools {
    // 			padding: 0px 12px 0px;
    // 		}
    // 	}
    // }
    // .dailog-action-icons {
    // 	height: 20px;
    // 	width: 20px;
    // }
}