.worker-title-section {
    display: flex;
    padding: 0px 0px;
    .worker-name-section {
        padding: 2px 15px 2px 2px;
        .worker-name {
            font-size: 15px;
            color: #333;
            font-weight: 600;
            line-height: 1.5;
        }
        .worker-hours {
            font-size: 14px;
            color: #ed7431 !important;
        }
    }
    .worker-image-section {
        height: 45px;
        width: 45px;
        border-radius: 50%;
        .worker-image {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: 1px solid #ccc; // padding: 10px 15px;
        }
    }
}

.Add-manage-workers-titel {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    background-color: #fff9f5;
    align-items: center;
    &:before {
        content: "\eac8";
        font-size: 6em;
        font-family: 'common-webfont';
        position: absolute;
        right: 31px;
        opacity: 0.1;
        color: #ed7532;
    }
    .summary-text {
        color: #666;
    }
    .total-hours {
        color: #333;
    }
    .add-manage-workers-member-or-hrs {
        color: #e45718;
        font-size: 30px;
    }
}

.Add-manage-button {
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.15);
}

.worker-info {
    padding: 20px 20px;
    box-shadow: 0 0 1px #a4b3c5
}

.btn-add-manage-worker {
    background-color: #e45718 !important;
    width: 26%;
    justify-content: center !important;
    border-radius: 6px !important;
}

.vendor-contracts-window {
    &.workers-cls {
        .MuiDialogContent-root {
            &:before {
                content: "\ec83";
                font-size: 16em;
                font-family: "common-webfont";
                position: absolute;
                right: -34px;
                opacity: 0.1;
                color: #ed7532;
                bottom: 100px;
            }
        }
        .MuiDialogActions-root {
            background-color: #fff;
            z-index: 1;
            box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, .15);
            .iq-button {
                background-color: #059cdf !important;
            }
        }
    }
}