.budget-search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    .MuiButton-startIcon,
    .MuiButton-endIcon {
        color: gray;
    }
    .iqsearch-field {
        width: 20rem;
        height: 2.25rem;
        min-height: 2rem !important;
        max-height: 2.25rem;
        .MuiInputBase-root {
            border-left: 0px solid rgb(194, 194, 194) !important;
        }
    }
}

.btn-add-line-items {
    display: flex;
    justify-content: flex-end;
    height: 2.7em;
    border-radius: 2px;
    background-color: #059cdf !important;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    &.Mui-disabled {
        background-color: #666 !important;
    }
    &:hover {
        background-color: #159fdc !important;
    }
}

.budget-line-disable-cls {
    .budget-manager-row-disabled-cls {
		opacity: 0.4;
        border-right: thin solid #999;
        margin-left: 0.5px;
        box-shadow: none;
        border-color: #b2b2b2;
    }
    .budget-manager-row-active-cls {
        opacity: 1 !important;
    }
}
