.app-items-cell-contentt {
	display: flex;
	align-items: center;
	
	&.clickablee {
		cursor:pointer;
	}

	.txn-name-tag {
		font-weight: 600;
	}
}

.auto-wrapped-ellipsis {
	width: inherit;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.right-align {
	width: 100%;
	text-align: right;
}