 .referenceFile {
     margin-top: 1em;
     padding-top: 16px;
     .header-text {
         height: 3em;
         padding: 1em 0.4em 0em 0.0em;
         font-size: 17px;
         font-weight: bold;
     }
     .contract-doc-cont {
         .vendor-contract-header-text {
             font-size: 15px;
             font-weight: normal;
         }
     }
     .spec-upload-base-container {
        margin: 10px 0px 10px 0px;
        .common-icon-Upload-File {
            font-size: 24px;
        }
     }
     .bid-res-spec-grid {        
        flex: 4;
        margin: 10px 0;
        border: 1px solid #ccc;
        .sui-grid {
        height: 350px !important;
        .ag-root-wrapper {
            border: none !important;
            & [col-id="thumbnailUrl"] {
                img {
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    object-fit: contain;
                }
            }
        }
        }
     }
 }