.estimate-room-window {
    .toolbar-item-wrapper {
        gap: 0px;
    }
    .sui-grid {
        .status-column {
            display: flex;
            align-items: center;
            .status {
                height: 1.75em;
                width: fit-content;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                border-radius: 0.25em;
                padding: 0.5em 0.75em 0.5em 0.5em;
                display: flex;
                align-items: center;
                .status-icon {
                    font-size: 1.5em;
                    padding-right: 0.2em;
                }
            }
        }
    }
    .tl-toolbar-btn {
        margin-left: 20px !important;
        padding: 0px 8px !important;
        border-radius: 4px;
        height: 28px;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
        .MuiButton-startIcon {
            margin-right: 4px;
        }
        span:before {
            font-size: 24px;
        }
    }
    .blue-color {
        color: #059cdf;
        cursor: pointer;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        .common-icon-c-mark:before {
            color: #26d8b1;
            font-size: 24px;
        }
    }
    .ag-full-width-container {
        .ag-row-group-expanded {
            .ag-cell-wrapper.ag-row-group {
                background: #fff !important;
                padding-left: 29px;
                font-weight: bold;
                .custom-group-header-label-cls {
                    font-size: 14px;
                }
            }
        }
    }
    .divider-line-cls {
        border-left: 1px solid #ececec !important;
        padding: 0px;
        height: 26px;
    }
    .no-rows-msg {
        border: 0px dotted #d9d9d9;
        background-color: transparent;
        .common-icon-No-Item-Available {
            // background-image: url(/resources/images/time-log-watermark.png);
            background-size: 100%;
            background-repeat: no-repeat;
            width: 400px;
            height: 204px;
            display: block;
        }
        .common-icon-No-Item-Available:before {
            content: "";
        }
        .empty-rows-mark {
            color: #666;
        }
    }
}