.conformation-window {
    .titlebar-inner-items.title-text {
        font-size: 20px;
        padding-left: 4px;
    }
    .MuiDialogContent-root {
        display: flex;
        flex-direction: column;
        border: 0px;
        .grid-body-box {
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 20px 20px 10px 20px;
            .grid-box {
                flex: auto;
            }
        }
        .description-box {
            padding: 10px 20px 10px 20px;
            .description-header {
                display: flex;
                align-items: center;
                .icon {
                    color: #666;
                    margin-left: -5px;
                    margin-bottom: 5px;
                }
                .common-icon-Description:before {
                    color: #666;
                    font-size: 24px;
                }
                .label {
                    margin-left: 2px;
                    font-size: 14px;
                    color: #666;
                }
            }
        }
        .signature-box {
            padding: 10px 20px 10px 20px; // height:60%;
            .verify {
                display: flex;
            }
            .signature-header {
                display: flex;
                align-items: center;
                margin-bottom: 8px;
                .icon {
                    font-size: 20px;
                }
                .label {
                    margin-left: 4px;
                    color: #666;
                }
            }
            .signature {
                margin-top: 2px;
                border: 1px solid #ccc;
                border-radius: 2px;
                padding: 8px 8px 8px 8px;
                box-shadow: 0px 0px 4px 0px #dadada;
                .sign-above-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    margin: 10px 0px;
                    .sign-eraser {
                        position: absolute;
                        right: 2px;
                        cursor: pointer;
                        font-size: 26px;
                        margin-top: 4px;
                        color: #666;
                    }
                    .sign-above-txt {
                        font-size: 13px;
                        color: #333;
                    }
                }
            }
        }
        .validate-box {
            padding: 5px 20px 5px 14px;
            display: flex;
            .MuiCheckbox-root {
                padding: 2px 9px 9px 9px !important;
                background-color: transparent;
            }
            .agree-text {
                font-size: 15px;
                color: #333;
                line-height: 1.5;
            }
        }
        .ag-row-pinned {
            background-color: #f8f8f8 !important;
            text-align: end;
        }
    }
    .MuiDialog-container .MuiPaper-root .MuiDialogTitle-root .title-text {
        font-size: 16px !important;
        font-weight: bold;
        color: #333;
        width: 25vw;
        height: 3em;
    }
    .MuiDialogActions-root {
        .iq-button {
            margin-right: 8px;
        }
    }
    .MuiDialog-container .MuiPaper-root .MuiDialogActions-root {
        gap: 0.5em;
    }
}

.conformation2-section {
    .conformation-paragraph {
        font-weight: bold;
    }
    .radio-group-section {
        border: 1px solid gray;
        border-radius: 10px;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 0px 10px 6px 10px;
        .paragraph {
            font-size: 14px;
        }
    }
    .active {
        border: 1px solid #289bdb;
        border-bottom: 1px solid #289bdb;
        border-radius: 10px;
        background-color: #e7f5fa;
    }
    .updatebudget-button-section {
        text-align: end;
        margin-top: 10px;
        .updatebudget-button {
            background: #ed7431 !important;
        }
    }
}