@import "Smart_theme_variable";
.clock-container {
    .common-icon-CurrentTime {
        margin-top: 2px;
        &:before {
            color: #ed7532;
            font-size: 1.3rem;
        }
    }
    .MuiInputBase-input {
        padding: 6px 0 2px;
    }
}

.clock-picker {
    .MuiPickersToolbar-penIconButton {
        display: none !important;
    }
    .MuiClock-root {
        .MuiClock-amButton1,
        .MuiClock-pmButton1 {
            background-color: transparent;
            background-color: #1976d2;
            color: #333;
            border: 1px solid #333;
            border-radius: 2px;
            padding: 4px 8px;
        }
    }
    .MuiClockPointer-root {
        background-color: #059cdf;
        .MuiClockPointer-thumb {
            border: 16px solid #059cdf;
            background-color: #059cdf;
        }
    }
    .MuiClock-pin {
        background-color: #059cdf;
    }
}