.safety-violation-dialog-container {
    .MuiDialog-container {
        .MuiPaper-root {
            width: 100%;
        }
        .MuiDialogTitle-root {
            padding: 16px 14px 16px 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        h2 {
            font-size: 16px !important;
            font-weight: bold;
            .common-icon-Verify {
                margin-right: 6px;
                font-size: 20px;
            }
            .header_icon {
                border: 1px solid #d5d1d1;
                width: 24px !important;
                height: 24px !important;
                border-radius: 50%;
                background: #fff;
                box-shadow: 0px 1px 2px #9a9a9a;
                &:before {
                    font-size: 24px;
                    line-height: 1;
                    margin-left: -1px;
                }
            }
        }
        .MuiDialogContent-root {
            padding: 0px 24px 8px 24px !important;
            p {
                color: #333;
                .common-icon-safety-violation {
                    font-size: 60px;
                    color: #e8793e;
                    margin-right: 8px;
                    margin-left: -4px;
                }
                .MuiCheckbox-root {
                    float: left;
                }
            }
        }
    }
    .MuiDialogActions-root {
        display: flex;
        align-items: center;
        justify-content: end;
        justify-items: flex-end;
        gap: 18px;
        margin: 10px 0px;
        padding: 10px 30px 14px 24px !important;
        .cancel-cls {
            background-color: #666;
            color: #fff;
            padding: 12px;
            height: 36px;
            font-family: "Roboto-Regular";
            border-radius: 2px;
            justify-content: center !important;
            box-shadow: 0px 1px 5px #a0a0a0;
        }
        .yes-cls {
            background-color: #059cdf;
            color: #fff;
            padding: 12px;
            height: 36px;
            font-family: "Roboto-Regular";
            border-radius: 2px;
            justify-content: center !important;
            box-shadow: 0px 1px 5px #a0a0a0;
            &.Mui-disabled {
                opacity: 0.4;
            }
        }
        .MuiButton-root:hover {
            opacity: 0.9;
        }
    }
    .contract-details-tooltip-button {
        .MuiButton-startIcon {
            margin-top: -6px;
        }
    }
}