.te-catalog-list {
	&.MuiDataGrid-root {
		.smartgrid-group-header {
			display: none;
		}

		.MuiDataGrid-row {
			height: 6vh;

			.MuiDataGrid-cell {
				.tool-image {
					width: 4vh;
					height: 4vh;
				}

				.status-cell {
					padding: 0.5em 2em;
					border-radius: 1em;

					&.active {
						color: green;
						background-color: #cbf1cb;
					}

					&.retired {
						color: #666d66;
						background-color: #d6dad6;
					}
				}
			}
		}
	}
}