#MultipleMenuSelect {
    .MuiMenuItem-root {
        font-weight: bold;
        background-color: transparent;
        margin-left: 2px;
        .common-icon-finance:before {
            content: "\ec46";
            font-family: "common-webfont";
            font-size: 24px;
            display: inline-block;
            vertical-align: middle;
            margin-left: -2px;
            color: #00e5b0;
            margin-top: -8px;
        }
        .common-icon-finance:after {
            content: "\ea60";
            font-family: "common-webfont";
            margin-left: -1.1em;
            font-size: 18px;
            display: inline-block;
            vertical-align: middle;
            color: #fff;
            margin-top: -10px;
            margin-right: 10px;
        }
    }
    .MuiListItem-root {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        gap: 8px;
        cursor: pointer;
        .MuiListItemText-root {
            .MuiTypography-root {
                font-size: 14px;
                color: #333;
            }
        }
    }
    .highlight-cls {
        background-color: #f5f5f5 !important;
    }
    .selected-text-cls {
        background-color: #fff9cc !important;
    }
    .Mui-disabled {
        cursor: auto;
        opacity: 0.5;
    }
    .MuiListItemIcon-root {
        display: contents !important;
        span:before {
            color: #666;
        }
        .common-icon-budget-manager:before {
            margin-left: -2px;
        }
        .common-icon-pay-application:before {
            margin-left: 4px;
        }
        .common-icon-contracts:before {
            padding-left: 1px;
            font-size: 22px;
            vertical-align: text-top;
            color: #666;
        }
        .common-icon-manage-pay-icon {
            width: 24px;
            &:before {
                font-size: 22px;
                padding-left: 3px;
                vertical-align: text-top;
                color: #666;
            }
        }
        .common-icon-vendor-contracts:before {
            color: #666;
        }
        .common-icon-bid-response:before {
            padding-left: 2px;
        }
        .common-icon-Safety-Onboarding-Flyer:before {
            margin-left: -2px;
        }
        .common-icon-bid-lookup:before {
            margin-left: 0px;
            font-size: 26px;
        }
        .common-icon-compliance-Status:before {
            padding-left: 1px;
        }
        .common-icon-change-event-details:before {
            padding-left: 2px;
        }
    }
    .menuItem-trick-icon {
        display: flex;
        align-content: space-around;
        justify-content: flex-end;
    }
    .MuiListItemIcon-root .common-icon-tick.selected:before {
        color: #059cdf !important;
    }
    .MuiMenu-list {
        min-width: 286px;
    }
    .submenuitem-cls {
        padding-left: 47px;
        font-size: 15px;
    }
}