.toastmessage-div {
    position: absolute;
    display: flex;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 15px;
    width: -moz-fit-content;
    width: fit-content;
    background: #333333;
    color: #fff;
    padding: 10px 15px 10px 10px;
    border: none;
    border-radius: 50px;
    font-family: 'Roboto-Regular' !important;
    font-size: 14px;
    align-items: center;
    z-index: 1;
    .toastmessage:before {
        content: "\ebb6";
        font-family: "common-webfont";
        color: #7ece11;
        font-size: 23px;
        vertical-align: middle;
        margin-right: 4px;
        line-height: 0.1;
    }
}

.close-button {
    padding: 4px 8px;
    background-color: #0000001c;
    border: none;
    border-radius: 50%;
    margin: 0px 0px 0px 10px;
}