.spec-manager-window {
    .MuiDialogTitle-root {
        .titlebar-inner-items.title-text {
            justify-content: flex-start !important;
        }
    }
    .no-rows-msg {
        border: 0px dotted #d9d9d9;
        background-color: transparent;
        margin-top: 0px;
        .common-icon-No-Item-Available {
            background-image: url(/resources/images/specification-manager-empty-state.png);
            background-size: 100%;
            background-repeat: no-repeat;
            width: 400px;
            height: 204px;
            display: block;
        }
        .common-icon-No-Item-Available:before {
            content: "";
        }
        .empty-rows-mark {
            color: #666;
        }
    }
    .ag-row-group-expanded,
    .ag-row-group-contracted {
        .ag-row-level-0 {
            .ag-row-selected {
                background: #fff9cc !important
            }
        }
        .ag-cell-wrapper.ag-row-group {
            background: #c8cbcc !important;
            border-color: #c8cbcc !important;
            padding: 3px;
            .ag-group-expanded,
            .ag-group-contracted {
                margin-right: 6px;
            }
            .ag-group-value {
                color: #000;
                margin-left: 10px;
            }
        }
    }
    .ag-pinned-left-cols-container,
    .ag-pinned-left-header {
        box-shadow: none;
        z-index: 0;
        height: 100% !important;
        border-right: 1px solid #dbdbdb;
        .ag-cell {
            .ag-selection-checkbox {
                margin-left: 8px;
            }
        }
    }
    .ag-pinned-left-header {
        padding-left: 8px;
    }
    .ag-full-width-container {
        .ag-row-group.ag-row-selected {
            .ag-cell-wrapper.ag-row-group {
                background-color: #fff9cc !important;
            }
        }
        .ag-row-group-expanded.ag-row-group {
            background-color: #fff !important;
        }
    }
    .phase-btn {
        .common-icon-phase {
            font-size: 18px;
            line-height: 1.2;
        }
    }
}