$primarycolor : #757ce8;
.main-conatiner {
	direction: 'column';
	.MuiInputBase-input {
		height: 10px;
		width: 120px;
	}
	.MuiInputBase-root {
		padding-left: 1px;
	}
	.left-section{
		padding:10px;
		.image-card {
			
			width: auto;
			border: 5px solid wheat;
			background: linear-gradient(white 52%, wheat 50%);
			.image{
				text-align: center;
				.tool-image {
					height: 86px;
					background-color: wheat;
				}
			}
			.toll-name{
				font-size: 10px;
				padding: 20px 0px 4px 0px;
				font-weight: bold;
			}
			.toll-content{
				display: flex;
				
				.toll-content-right{
					width:50%;
					.MuiOutlinedInput-input{
						margin-bottom: 4px;
						padding:2px;
					}
					.toll-rtlc{
						display: flex;
						padding-top: 4px;
						.rtls-name{
							font-size: 10px;
							padding:5px 0px 0px 2px;
						}
					}
				}
				.toll-content-left{
					width:50%;
					text-align: end;
					.qr-code-img {
						height: 2em;
						width: 4em;
						object-fit: contain;
						padding-top: 23px;
					}
				}
			}
		}
	}
	.right-section{
		overflow: auto;
		.toolkit-card{
			position: absolute;
			z-index: 1;
			top:146px;
			width:932px;
			padding:2px;
			.toolname{
				font-weight: bold;
				color:black;
			}
			.model-number-label , .model-number ,.rtlc-tag-label,.rtlc-tag-no{ 
				font-size: 10px;
			}
			.model-number,.rtlc-tag-no{
				font-weight: bold;
				color:black;
			}
			.rtlc-tag-label{
				padding-left: 16px;
			}
		}
		.filterBox{
			position: absolute;
			right:50px;
			padding-top: 4px;
		}
		.calendarSection{
			position: absolute;
			padding:14px 5px 10px 10px;
		}
		.fc-toolbar{
				background-color: lightblue;
				padding:4px 30px;
				.fc-toolbar-chunk{
					display: flex;

					.fc-today-button{
						background: none;
						border:none;
						color:$primarycolor;
						text-transform: uppercase;
						font-weight: bolder;
						padding-left: 24px;
					}
					.fc-next-button,.fc-prev-button{
						background: none;
						border:none;
						color:gray;
						text-transform: uppercase;
						font-weight: bolder
					}
					.fc-toolbar-title{
						font-size: 15px;
						color:$primarycolor;
						padding-top: 10px;
					}
					.fc-timeGridWeek-button{
						background: none;
						color:black;
					}
					.fc-timeGridDay-button{
						background: none;
						color:black;

					}
				}

		}
		.fc-timegrid{
			top:21px;
		}
	}
	.footer-card{
		padding:10px 10px 5px 10px;
		background-color: #fff;
		color: rgba(0, 0, 0, 0.87);
		-webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
		transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
		border-radius: 4px;
		border: 1px solid rgba(0, 0, 0, 0.12);
		overflow: hidden;
		.add-button{
			text-align: right
		}
	}
}   