.report-analytics-cls {
    // margin-right: 20px;
    box-shadow: 0px 0px 2px #999;
    border: 1px solid #fff;
    border-radius: 18px !important;
    .ra-btn-cls {
        background-color: #ed7532 !important;
        border: none;
        color: #fff !important;
        font-size: 14px;
        min-width: 60px;
        padding: 6px 5px;
        text-transform: none;
        border-right: 1px solid #fff !important;
        border-radius: 18px;
        .common-icon-doc:before {
            font-size: 23px;
            // margin-right: 6px;
            line-height: 0.8;
        }
        .common-icon-chart:before {
            font-size: 23px;
            // margin-right: 5px;
        }
        &:hover {
            background-color: #ef8923 !important;
        }
    }
    .MuiToggleButton-root {
        &.Mui-selected {
            color: #fff !important;
            background-color: #e33c00 !important;
            border-color: #e33c00 !important;
        }
    }
    .ra-btn-cls.MuiToggleButtonGroup-grouped:not(:first-of-type) {
        border-left: 1px solid #fff !important;
    }
}