.timelog-form {
    padding: 0.5em 1em 1.5em;
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    .form-title {
        margin: 0;
        padding: 0.5em 0;
        font-size: 16px;
        font-weight: bold;
    }
    .spacer {
        grid-column: 6/6;
    }
    .field-section {
        display: grid;
        grid-gap: 2.4em;
        grid-template-columns: minmax(200px, 3fr) minmax(200px, 1fr) 2fr 1.9fr 3.5fr minmax(75px, auto); // grid-template-columns: minmax(200px, 2fr) minmax(200px, 1fr) minmax(140px, 1fr) minmax(160px, 2fr) 1fr minmax(250px, 2fr) minmax(75px, auto);
        .resource-field {
            .resourcedropdown {
                color: #ed7532 !important;
                font-size: 26px !important;
            }
            &.worker-field {
                .MuiFormControl-root {
                    width: 100%;
                }
            }
        }
        .resource-field {
            .common-icon-name {
                color: #ed7431;
                font-size: 18px;
                margin-right: 6px;
            }
        }
        .time-field {
            min-width: 170px;
            .common-icon-CurrentTime {
                color: #ed7431;
                font-size: 23px;
                margin-right: 6px;
            }
            .common-icon-Team-Members:before {
                content: "\ea7b";
                font-size: 28px;
                margin-right: 4px;
            }
        }
        .duration-field {
            min-width: 135px;
            .common-icon-monthly {
                color: #ed7431;
                font-size: 26px;
                margin-right: 0px;
                vertical-align: sub;
            }
        }
        .smart-item-field {
            .common-icon-smartapp {
                color: #ed7431;
                font-size: 20px;
                margin-right: 0px;
                vertical-align: sub;
            }
        }
    }
}

#menu-smartItems {
    .MuiPaper-root {
        min-width: 260px !important;
    }
    .user-menu-items .MuiListItem-root {
        .MuiListItemIcon-root {
            min-width: 30px;
            .common-icon-new-smart-item:before,
            .common-icon-existing-smart-items:before {
                font-size: 22px;
                color: #666;
            }
        }
    }
}