.timelog-form {
    padding: 0.5em 1em 1.5em;
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    .form-title {
        margin: 0;
        padding: 0.5em 0;
        font-size: 16px;
        font-weight: bold;
    }
    .spacer {
        grid-column: 6/6;
    }
    .field-section {
        display: grid;
        grid-gap: 3em;
        grid-template-columns: minmax(200px, 3fr) minmax(200px, 1fr) 2fr 1.9fr 3.5fr minmax(75px, auto);
        grid-template-columns: minmax(160px, 2fr) minmax(130px, 1fr) minmax(140px, 1fr) minmax(160px, 2fr) 1fr minmax(250px, 2fr) minmax(75px, auto);
        .resource-field {
            .resourcedropdown {
                color: #ed7532 !important;
                font-size: 24px;
            }
            &.worker-field {
                .MuiFormControl-root {
                    width: 100%;
                }
            }
        }
        .resource-field {
            .common-icon-name {
                color: #ed7431;
                font-size: 18px;
                margin-right: 6px;
            }
        }
        .time-field {
            .common-icon-CurrentTime {
                color: #ed7431;
                font-size: 23px;
                margin-right: 6px;
            }
        }
        .duration-field {
            .common-icon-monthly {
                color: #ed7431;
                font-size: 26px;
                margin-right: 0px;
                vertical-align: sub;
            }
        }
        .smart-item-field {
            .common-icon-smartapp {
                color: #ed7431;
                font-size: 20px;
                margin-right: 0px;
                vertical-align: sub;
            }
        }
    }
}