.time-log-window {
    .sui-grid {
        .status-column {
            display: flex;
            align-items: center;
            .status {
                height: 1.75em;
                width: fit-content;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                border-radius: 0.25em;
                padding: 0.5em 0.75em 0.5em 0.5em;
                display: flex;
                align-items: center;
                .status-icon {
                    font-size: 1.5em;
                    padding-right: 0.2em;
                }
            }
            .base-custom-img {
                //padding: 2px;
            }
        }
    }
    .tl-toolbar-btn {
        margin-left: 20px !important;
        padding: 0px 8px !important;
        border-radius: 4px;
        height: 28px;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
        .MuiButton-startIcon {
            margin-right: 4px;
        }
        span:before {
            font-size: 24px;
        }
    }
    .accept-btn {
        border-color: #74e07d !important;
        background-color: #74e07d !important;
        color: white !important;
    }
    .btn-disable {
        border-color: #999 !important;
        background-color: transparent !important;
        color: #999 !important;
    }
    .sendBack-btn {
        border-color: #b4391c !important;
        background-color: #b4391c !important;
        color: white !important;
    }
    .pdf-toolbar-btn {
        border-left: 1px solid #ccc !important;
        border-right: 1px solid #ccc !important;
        border-radius: 0px !important;
    }
    .divider-line-cls {
        border-left: 1px solid #ececec !important;
        padding: 0px;
        height: 26px;
    }
    .no-rows-msg {
        border: 0px dotted #d9d9d9;
        background-color: transparent;
        .common-icon-No-Item-Available {
            background-image: url(/resources/images/time-log-watermark.png);
            background-size: 100%;
            background-repeat: no-repeat;
            width: 400px;
            height: 204px;
            display: block;
        }
        .common-icon-No-Item-Available:before {
            content: "";
        }
        .empty-rows-mark {
            color: #666;
        }
    }
    .blue-color {
        color: #059cdf;
        cursor: pointer;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        .common-icon-c-mark:before {
            color: #26d8b1;
            font-size: 24px;
        }
    }
    .ag-row-footer {
        .ag-cell-last-left-pinned {
            font-weight: bold;
        }
    }
    .ag-full-width-container {
        .ag-row-group-expanded {
            .ag-cell-wrapper.ag-row-group {
                background: #fff !important;
                padding-left: 29px;
                font-weight: bold;
                .custom-group-header-label-cls {
                    font-size: 14px;
                }
            }
        }
    }
    .iqgridwrapper-root {
        .sui-grid.grid-copy .ag-pinned-left-header .ag-header-row .ag-header-cell {
            padding-left: 58px;
        }
        .sui-grid.grid-copy .ag-pinned-left-cols-container .ag-row .ag-cell {
            padding-left: 49px;
        }
    }
}

.timer-animation {
    background-image: url(/resources/images/stop-watch_1.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    margin-left: -6px !important;
    margin-top: 8px;
}

.hand-pointer {
    cursor: pointer;
}