.time-log-window {
    .sui-grid {
        .status-column {
            display: flex;
            align-items: center;
            .status {
                height: 1.75em;
                width: fit-content;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                border-radius: 0.25em;
                padding: 0.5em 0.75em 0.5em 0.5em;
                display: flex;
                align-items: center;
                .status-icon {
                    font-size: 1.5em;
                    padding-right: 0.2em;
                }
            }
        }
    }
    .tl-toolbar-btn {
        margin-left: 20px !important;
        padding: 0px 8px !important;
        border-radius: 3px;
        height: 28px;
        span:before {
            font-size: 24px;
        }
	}
	.accept-btn{
 		
		border-color: #74e07d !important;
        background-color: #74e07d !important;
        color: white !important;
	}
	.btn-disable{
 		border-color: #999 !important;
        background-color: transparent !important;
        color: #999 !important;
	}
	.sendBack-btn{
 		border-color: #b4391c !important;
		background-color: #b4391c !important;
        color: white !important;
	}
    .pdf-toolbar-btn {
        border-left: 1px solid #ccc !important;
        border-right: 1px solid #ccc !important;
        border-radius: 0px !important;
    }
    .divider-line-cls {
        border-left: 1px solid #d9d9d9 !important;
        padding: 0px;
        height: 22px;
    }
    .no-rows-msg {
        border: 0px dotted #d9d9d9;
        background-color: transparent;
        .common-icon-No-Item-Available {
            background-image: url(/resources/images/time-log-watermark.png);
            background-size: 100%;
            background-repeat: no-repeat;
            width: 400px;
            height: 204px;
            display: block;
        }
        .common-icon-No-Item-Available:before {
            content: "";
        }
        .empty-rows-mark {
            color: #666;
        }
    }
    .blue-color {
        color: #059cdf;
        cursor: pointer;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        .common-icon-c-mark:before {
            color: #26d8b1;
            font-size: 24px;
        }
    }
}