.ag-pinned-left-cols-container,
.ag-pinned-left-header {
    box-shadow: none;
    z-index: 0;
    height: 100% !important;
    border-right: 1px solid #dbdbdb;
    .ag-cell {
        .ag-selection-checkbox {
            margin-left: 8px;
        }
    }
}

.safety-violation-dialog-container.sbs-manage-phases-dialog {
    .MuiDialog-container .MuiDialogContent-root,
    .MuiDialogActions-root {
        padding: 0 !important;
    }
}

.sbs-suppli-info-cell,
.sbs-category-cell {
    color: #059cdf;
    cursor: pointer;
    display: flex;
    align-items: center;
    svg {
        margin-right: 10px;
        position: absolute;
        left: 0;
    }
}

.tooltipcontent {
    display: flex;
    align-items: center;
    text-align: inherit;
    .tooltiptext {
        margin-left: 10px;
    }
}

.SBS-window-cls {
    .titlebar-inner-items.title-text:before {
        // content: "\ec61";
        //font-family: "common-webfont";
        //float: left;
        //display: contents;
    }
    .sbs-manager-lineitem-form {
        .common-icon-sbs-name:before,
        .common-icon-phase:before,
        .common-icon-trade:before {
            color: #ec711c;
            font-size: 20px;
        }
    }
    .phase-btn {
        .common-icon-phase {
            padding-right: 6px;
            font-size: 20px;
        }
    }
    .no-rows-msg {
        border: 0px dotted #d9d9d9;
        background-color: transparent;
        .common-icon-No-Item-Available {
            background-image: url(/resources/images/SBS-Watermark.png);
            background-size: 100%;
            background-repeat: no-repeat;
            width: 400px;
            height: 204px;
            display: block;
        }
        .common-icon-No-Item-Available:before {
            content: "";
        }
        .empty-rows-mark {
            color: #666;
        }
    }
}

.general-window-cls {
    .Close-btn {
        width: 40px;
        height: 40px;
    }
}