 .referenceFile {
     margin-top: 1em;
     padding-top: 16px;
     .header-text {
         height: 3em;
         padding: 1em 0.4em 0em 0.0em;
         font-size: 17px;
         font-weight: bold;
     }
     .contract-doc-cont {
         .vendor-contract-header-text {
             font-size: 15px;
             font-weight: normal;
         }
     }
 }