.spec-book-content-cls {
    .title {
        margin-bottom: 6px;
    }
    .display-name {
        input {
            padding-left: 6px;
            padding-top: 6px;
        }
    }
    .input-data-cls {
        font-size: 14px;
        color: #333;
        vertical-align: text-bottom;
        padding-left: 8px;
    }
    .common-icon-specbook:before {
        font-size: 20px;
        color: #ec711c;
    }
}