.ag-pinned-left-cols-container,
    .ag-pinned-left-header {
        box-shadow: none;
        z-index: 0;
        height: 100% !important;
        border-right: 1px solid #dbdbdb;
        .ag-cell {
            .ag-selection-checkbox {
                margin-left: 8px;
            }
        }
    }
    .safety-violation-dialog-container.sbs-manage-phases-dialog {
        .MuiDialog-container .MuiDialogContent-root, .MuiDialogActions-root {
            padding: 0 !important;
        }
    }