.change-event-request-window {
    .MuiDialogTitle-root {
        .titlebar-inner-items.title-text {
            justify-content: flex-start !important;
        }
    }
    .sui-grid {
        .status-column {
            display: flex;
            align-items: center;
            .status {
                height: 1.75em;
                width: fit-content;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                border-radius: 0.25em;
                padding: 0.5em 0.75em 0.5em 0.5em;
                display: flex;
                align-items: center;
                .status-icon {
                    font-size: 1.5em;
                    padding-right: 0.2em;
                }
            }
        }
        .bold-font {
            font-weight: bold;
        }
        .vertical-center-align {
            display: flex;
            align-items: center;
        }
        .mouse-pointer {
            cursor: pointer;
        }
        .blue-color {
            color: #059cdf;
            .common-icon-c-mark:before {
                color: #26d8b1;
                font-size: 24px;
            }
        }
        .right-align {
            width: 100%;
            text-align: right;
        }
        .center-align {
            width: 100%;
            text-align: center;
        }
        .ellipsis {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}