.barChart-Container {
    .recharts-legend-item {
        margin-bottom: 25px;
    }
    .recharts-legend-item-value{
        margin-left: 20px;
    } 
}


.chart-content {
    display: flex;
    justify-content: space-between;
    /* not center */
    align-items: center;
    margin: 0px 25px 0px 25px;
}