.te-inventory-list {
	&.MuiDataGrid-root {
		.MuiDataGrid-row {
			height: 6vh;

			.MuiDataGrid-cell {
				.tool-image {
					width: 4vh;
					height: 4vh;
				}

				.status-cell {
					padding: 0.5em 2em;
					border-radius: 1em;

					&.available {
						color: green;
						background-color: #cbf1cb;
					}

					&.assigned {
						color: #43afe6;
						background-color: #cbeaf9;
					}

					&.not-assigned {
						color: #ffc781;
						background-color: #ffebcf;
					}

					&.needs-service {
						color: #f2a174;
						background-color: #fbe1d0;
					}
				}
			}
		}
	}
}