.columnCalculated{
	.buttontab-section{
			border: 1px solid #c2c2c2;
			border-radius: 2px 2px 0px 0px;
			border-bottom: none;
			padding: 6px;
	}
	.formula-section{
		border:1px solid #c2c2c2;
		border-radius: 0px 0px 2px 2px ;
		padding:6px;
		height:120px;
	}
}