.line-clear-btn {
    margin-top: 0px;
    font-size: 1.5em !important;
    cursor: pointer;
}

.MuiIconButton-root.line-add-btn {
    color: #333;
    .common-icon-add:before {
        font-size: 22px;
    }
}

.ag-row-pinned.ag-row-level-0,
.ag-row-pinned.ag-row-level-0.ag-row-foucs.ag-row-hover {
    background-color: #fdf5ca !important;
    &::before {
        background-color: #fdf5ca !important;
    }
}