.smart-submital-brena-left-cont {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 93%;
    .smart-submital-brena-left-initial {
        width: 100%;
    }
    .brena-animate-cls {
        margin: 20% auto;
        text-align: center;
        width: 332px;
    }
    .brena-animate-cls {
        .brena-text {
            p {
                font-size: 14px;
                color: #333;
                margin: 0px;
                line-height: 1.5;
            }
        }
        .brena-dot {
            img {
                width: 100px;
            }
        }
    }
    .ss-brena-left-initial {
        width: 58%;
        object-fit: scale-down;
        background-color: #f3f3f3;
        opacity: 0.6;
    }
    .ssm-main-container {
        display: grid;
        grid-gap: 20px;
        .ssm-body-container {
            //   padding: 13px;
            height: 9em;
            margin-left: 15px;
            width: 45.1em;
        }
    }
}

.ss-brena {
    .iq-brena-left-panel {
        display: block !important;
        position: relative;
        .sm-brena-left-toolbar-cont {
            background-color: #fff;
            height: 50px;
            box-shadow: 0px 2px 4px 0px #ccc;
            border-bottom: 1px solid #dadada;
            padding-left: 12px;
            .smart-submittals-toolbar-tab {
                top: 10em;
            }
        }
        .iqsearch-field {
            margin-top: 9px;
            .search-trigger {
                border-right: 0px !important;
            }
            .select-icon-trigger {
                border-right: 1px solid #c2c2c2 !important;
                border-radius: 0px;
                padding: 8px 8px 8px 4px;
                .common-icon-down-arrow1 {
                    margin-top: -2px;
                    &:before {
                        font-size: 22px;
                    }
                }
            }
        }
    }
    .titlebar-inner-items {
        .iq-brena-title {
            img {
                width: 300px !important;
                margin-top: -4px !important;
            }
        }
    }
}

.ss-brena-left-footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 14px;
    background-color: white;
    border-top: 1px solid #ccc;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    align-items: center;
    &_center-footer {
        gap: 2em;
        border-radius: 10px;
        border: 1px solid #ccc;
        padding: 4px 16px;
        display: flex;
        align-items: center;
    }
    &_center-container-footer {
        gap: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_statusCircle {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        display: inline-flex;
        margin-top: -1px;
        border: 1px solid #dadada;
    }
}