.time-log-modal {
    padding: 16px;
    width: 600px;
    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-header_close {
        cursor: pointer;
        transform: rotate(45deg);
        color: #666;
        font-size: 22px;
    }
    &_form {
        overflow-y: auto;
        max-height: 300px;
    }
    &_form-row {
        display: flex;
        align-items: center;
        margin: 20px 0;
        .time-field {
            width: 130px;
            margin-right: 15px;
        }
        .notes-field {
            margin-right: 15px;
            width: 250px;
            .common-icon-Description:before {
                color: #ec711c;
                font-size: 24px;
            }
        }
        &:first-child {
            .MuiIconButton-root {
                margin-left: 40px;
                .common-icon-add:before {
                    content: "\e945";
                    background-color: #059cdf;
                    color: #fff;
                    border-radius: 50%;
                    padding: 4px;
                    font-size: 18px;
                }
            }
        }
        .action-btn-cls {
            //padding-top: 20px;
            span {
                color: #333;
                font-size: 22px;
            }
        }
    }
}

.time-log-form {
    grid-template-columns: minmax(200px, 1fr) 2.0fr 2.5fr 2.5fr 2.5fr minmax(75px, auto);
    .resource-field {
        .common-icon-name {
            color: #ed7431;
            font-size: 18px;
            margin-right: 6px;
        }
    }
    .time-field {
        .common-icon-CurrentTime {
            color: #ed7431;
            font-size: 20px;
            margin-right: 6px;
        }
    }
    .duration-field {
        .common-icon-monthly {
            color: #ed7431;
            font-size: 26px;
            margin-right: 0px;
            vertical-align: sub;
        }
    }
    .smart-item-field {
        .common-icon-smartapp {
            color: #ed7431;
            font-size: 20px;
            margin-right: 0px;
            vertical-align: sub;
        }
    }
}