 .project-team-certifications {
     &.safety-certifications-cotainer-tab {
         flex: 1;
         display: flex;
         flex-direction: column;
         height: unset;
     }
     flex: 1;
     display: flex;
     flex-direction: column;
     .email-hotlink-cls {
         display: flex;
         align-items: center;
         justify-content: end;
     }
     .userEmail_icons {
         font-size: 1.25rem;
         margin-right: 6px;
         height: 19px;
     }
     .verifiedOn-cls {
         display: grid;
         font-weight: 15px;
         text-align: left;
         line-height: 10px;
     }
     .email-cls {
         margin-top: 2px;
         font-size: 14px;
         color: #289BDB;
         cursor: pointer;
     }
     .progress-header-text {
         height: 3em;
         padding: 1em 0em;
         font-size: 14px;
         color: #666;
         b {
             color: #333;
         }
     }
     .ag-header {
         background-color: #fff !important;
         .ag-header-cell-text {
             text-transform: uppercase;
             color: #333;
             font-size: 13px;
             font-weight: bold;
             padding-left: 1px;
             white-space: break-spaces;
             word-wrap: break-word;
         }
     }
     .toggle-section-cls {
         .MuiToggleButtonGroup-root {
             .MuiButtonBase-root {
                 border: 1px solid #ccc;
                 text-transform: capitalize;
                 height: 29px;
                 font-size: 12px;
                 padding: 0px 8px;
                 line-height: 2;
                 align-items: center;
                 color: #333;
                 font-weight: bold;
             }
         }
         .Mui-selected {
             background-color: #059cdf !important;
             color: white !important;
             border: 1px solid #059cdf !important;
         }
         .Mui-selected:hover {
             background-color: #059cdf;
             color: white !important;
         }
         .MuiButtonBase-root {
             color: #059cdf;
             border-radius: 4px;
             background-color: transparent;
         }
     }
     .iq-customdate-cont.rmdp-container {
         .icon {
             left: auto !important;
             color: #333 !important;
         }
         .custom-input.rmdp-input {
             padding: 0px;
         }
         .custom-input.rmdp-input.expired {
             border-bottom-color: red;
         }
     }
     .common-icon-certs-exclamation {
         position: fixed;
         padding-top: 14px;
         padding-left: 12px;
         z-index: 1;
     }
     .awarded-icon-cls {
         width: 38px;
         height: 38px;
         color: #9a9a9a;
         border: 1px solid #f1f1f1;
         border-radius: 50%;
         display: flex;
         align-items: center;
         justify-content: center;
         box-sizing: content-box;
         box-shadow: 0px 1px 4px 0px #dadada;
         cursor: pointer;
         position: absolute;
     }
     .thumbnailUrl-cls {
         object-fit: contain;
         border: 2px solid #e7e7e7;
         padding: 2px;
         width: 70px;
         height: 70px;
         cursor: pointer;
         border-radius: 0px;
         .common-icon-upload-file {
             color: #ccc;
         }
     }
     .thumb-count-cls {
         .MuiBadge-badge {
             color: #fff;
             font-size: 10px;
             vertical-align: middle;
             text-align: center;
             cursor: pointer;
             background-color: #00aafa;
             width: 20px;
             height: 20px;
         }
     }
     .upload-button-cls {
         &.MuiButton-text {
             font-size: 11px !important;
             color: #059cdf;
             padding-top: 0px !important;
         }
     }
     .project-team-row-disabled-cls {
         opacity: 0.5;
     }
     .floating-toast-cls {
         background-color: #333 !important;
         border: 1px solid #333 !important;
         border-radius: 30px !important;
         box-shadow: none !important;
         padding: 4px !important;
         width: 350px;
         left: 55%;
         .MuiAlert-icon {
             display: none;
         }
         .MuiAlert-action {
             display: none;
         }
     }
     .ag-row .ag-cell {
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
         padding-right: 16px;
         .MuiCheckbox-root.Mui-checked:after {
             color: #0eb92c;
         }
     }
     .ag-theme-alpine,
     .ag-theme-alpine-dark {
         --ag-selected-row-background-color: tranparent !important;
         --ag-row-hover-color: tranparent !important;
     }
     .ag-theme-alpine {
         .ag-root-wrapper {
             .ag-body-viewport {
                 //  min-height: 52vh;
             }
         }
     }
     .no-rows-msg {
         margin-top: -45px;
     }
 }