@import "Smart_theme_variable";
.doc-file-cont-wrap {
    border: 2px dashed $grayColor;
    border-radius: 1%;
    border: 1px solid #dadada;
    border-radius: 2px;
    background-color: #fff;
    height: 350px;
    position: relative;
    .doc-file-cont {
        min-height: 250px;
        .reference-file-watermark {
            border: 2px dotted #d9d9d9;
            border-radius: 8px;
            padding: 20px;
            background-color: #fff;
            .common-icon-standard-contract:before {
                font-size: 36px;
                color: #999;
            }
            .doc-text-clr {
                color: #9F9F9F;
                font-size: 14px;
                line-height: 1.4;
                margin-top: 8px;
            }
        }
        div {
            text-align: center;
            .common-icon-cloud-upload {
                line-height: 2;
                font-size: 22px;
            }
        }
    }
    .bottomleft {
        text-align: left;
        width: 50px;
        height: 50px;
        border: 1px solid #dadada;
        padding: 14px 8px;
        border-top-right-radius: 50px;
        border-left: none;
        border-bottom: none;
        cursor: pointer;
        box-shadow: 0px 0px 4px 0px #dadada;
        display: inline-flex;
        position: absolute;
        bottom: 0px;
        background-color: #fff;
    }
    .doc-file-grid-view {
        height: 100%;
        .ag-root-wrapper {
            border: none !important;
            .avtar-img {
                img {
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    object-fit: contain;
                }
            }
        }
    }
}

.doc-upload-base-container {
    // .doc-upload-text-cont {
    margin-top: 10px; // }
}

.doc-upload-text-cont {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 0px;
    padding-left: 0px;
    gap: 5px;
    .common-icon-Upload-File {
        font-size: 24px;
    }
    .delete-btn {
        margin-left: 10px;
        .common-icon-delete {
            font-size: 22px;
        }
    }
}

.download-btn {
    margin-left: 10px;
    .common-icon-version-download {
        font-size: 16px;
        color: #333;
    }
}

.doc-upload-selector {
    color: $mainColorBlue;
    font-size: $medium;
    margin: 0px 4px 0px 4px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.doc-upload-selector-in-read {
    color: $black;
    font-size: $medium;
    margin: 0px 4px 0px 4px;
    font-weight: 500;
    text-decoration: none;
    cursor: default;
}

.doc-text-clr {
    color: #9F9F9F;
    font-size: $medium;
}

.doc-img-item {
    // width: 175px;
    padding: 0px;
    border: 1px solid $lightGray;
    .MuiImageListItem-img {
        box-shadow: 2px 2px 10px 0px #d7d7d7;
        border-radius: 2px;
        border: 2px solid #ccc;
        height: 100px !important;
        object-fit: inherit !important;
        cursor: pointer;
    }
    .MuiImageListItemBar-title {
        font-size: 12px;
        line-height: 1.2;
        color: #666;
    }
    .MuiButtonBase-root {
        padding: 4px;
	}
	.overLayActive{
		background-color: #fff9cc;
		width: 175px;
		height: 164px;
		position: absolute;
		opacity: 0.7;
	}
}

.doc-img-item .MuiImageListItemBar-root {
    background: none;
}

.doc-img-close {
    color: #fff;
    background-color: $grayColor;
}

.doc-img-item-cont {
    padding: 0px 0px !important;
    margin: 0px;
    width: 100% !important;
    height: 100% !important; //max-height: 373px;
}

.dragged-over {
    border: 5px dashed #666666;
}

.doc-file-length {
    margin-left: auto;
    color: #333;
    font-size: $medium;
}

.doc-lbl-hdr {
    text-align: left;
    margin-bottom: 10px
}

.doc-uploadd-header {
    padding: 0.8em 0.4em 0.8em 0em !important;
    display: flex;
    align-items: center;
    gap: 9px;
}

.doc-lbl-hdr-bold {
    font-weight: bold;
    font-size: 15px;
}