.Sbs-General-Popup {
    .generalSettings-Sections {
        .MuiListItemIcon-root {
            min-width: 24px;
            font-size: 16px;
        }
    }
    .generalsettingtext {
        cursor: pointer;
        text-wrap: wrap;
    }
}