.Sbs-General-Popup {
    .generalSettings-Sections {
        .MuiListItemIcon-root {
            min-width: 20px;
        }
    }
    .generalsettingtext {
        cursor: pointer;
        text-wrap: wrap;
    }
}