.timelog-Links {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .timelog-details-header {
        height: 3em;
        padding: 1em 0.4em 1em 0.2em;
        display: flex;
        align-items: end;
        .title-action {
            flex: 1;
            display: flex;
            align-items: center;
            .title {
                font-family: "Roboto-Regular";
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
    .toolbar {
        display: flex;
        justify-content: space-between;
        .left-Section {
            display: flex;
            div {
                .iq-button {
                    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
                }
            }
            .icon-section {
                display: flex;
                margin-left: 10px;
                .ref-delete-btn {
                    color: #333;
                }
                .Mui-disabled {
                    color: #999;
                }
            }
        }
        .right-section {
            display: flex;
            .iqsearch-field .MuiInputBase-root {
                border-left: 0px solid rgb(194, 194, 194) !important;
            }
        }
    }
    .grid {
        flex: 4;
        margin: 10px 0;
        .app-items-cell-contentt {
            display: flex;
            .link-name-icon {
                background-color: #059cdf;
                border-radius: 50%;
                width: 28px;
                height: 28px;
                text-align: center;
                display: flex;
                align-content: stretch;
                justify-content: center;
                flex-direction: column;
                margin-right: 4px;
                color: white;
            }
            .link-name-tag {
                font-weight: 600;
                color: #333;
            }
        }
    }
    .iconmodify {
        color: #ed7431 !important;
        font-size: 20px !important;
    }
    .grid {
        .no-rows-msg {
            border: 2px dotted #d9d9d9;
            .icon-modify {
                font-size: 40px !important;
            }
            .empty-rows-mark {
                font-size: 14px;
                color: #999;
            }
        }
    }
}