.sm-left-toolbar-cont {
    .iq-menu-button {
        display: initial;
        margin-left: 12px;
        .MuiButton-root {
            border: 1px solid #ed7532;
            background-color: #fff;
            color: #ed7532;
            box-shadow: none;
        }
        .MuiButton-root:hover {
            border: 1px solid #ed7532;
            background-color: #fff !important;
            color: #ed7532;
            box-shadow: none;
        }
    }
    .upload-type-menu {
        button {
            padding: 0px !important;
            border-radius: 2px;
            height: 2.6em;
            .common-icon-Add {
                border-radius: 20px;
                background-color: #fff;
                box-shadow: 1px 1px 0px 0px #c2c2c2;
                border: 1px solid #f5f5f5;
                font-size: 25px;
                width: 25px;
                height: 25px;
                margin-top: -4px;
                margin-right: 2px;
                &:before {
                    content: "\ec3e";
                    font-size: 25px;
                    line-height: 1;
                }
            }
        }
    }
    .MuiIconButton-root {
        span:before {
            color: #333;
        }
        .common-icon-add:before {
            font-size: 20px;
        }
        .common-icon-feather-edit:before {
            font-size: 22px;
        }
        .common-icon-upload-up-arrow {
            width: 20px;
            height: 20px;
            &:before {
                font-size: 24px;
                margin-left: -8px;
                line-height: 0.9;
            }
        }
    }
    .smart-spec-left-spec-ai {
        border: 1px solid #ed7532;
        background-color: #fff;
        color: #ed7532;
        box-shadow: none;
        padding: 6px 10px;
        margin-left: 8px;
        box-shadow: 0px 1px 4px 0px #d9d9d9;
        .common-icon-brena {
            border-radius: 20px;
            background-color: #fff;
            box-shadow: 1px 1px 0px 0px #c2c2c2;
            border: 1px solid #f5f5f5;
            font-size: 25px;
            width: 25px;
            height: 25px;
            margin-top: -4px;
        }
    }
    .smart-spec-left-spec-ai:hover {
        background-color: #fff;
        box-shadow: none;
    }
}