.active-radio-contaner{
    border: 3px solid rgba(25, 118, 210, 0.5);
    // padding: 5px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.inactive-radio-container {
    border: 3px solid rgba(198, 201, 204, 0.5);
    // padding: 5px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.radio-contaner{
    padding-left: 10px
}

.estimate-room-droup-down-field-contaner{
    padding-top: 45px;
}

.estimate-room-radio-options{
    display: flex;
    // justify-content: space-around;
    .estimate-room-radio-option{
        width: 40%;
        padding: 0 10px;
    }
}