.add-inventory-popup {
	.MuiInput-underline {
		& ::before,
		& ::after {
			border-color: "black",
		}
	}

	label.Mui-focused {
		color: "black",
	}

	.add-inventory-input {
		color: #000;

		.MuiInputLabel-root {
			color: #000;
		}
		.MuiInput-underline::after,
		.MuiInput-underline::before {
			border-color: #000 !important;
		}
	}

	.btn-add-inventory {
		background-color: #ee874a;
		color: #fff !important;
		display: inline-block;
		padding: 8px 40px !important;
		text-transform: uppercase !important;

		&:hover {
			background-color: #ee874a;
		}
		&.Mui-disabled {
			background-color: #999;
		}
	}

	.model .model-title {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}