.smart-submittals-window {
    .MuiDialogTitle-root {
        .titlebar-inner-items.title-text {
            justify-content: flex-start !important; // &:before {
        }
    }
    .no-rows-msg {
        border: 0px dotted #d9d9d9;
        background-color: transparent;
        margin-top: 0px;
        .common-icon-No-Item-Available {
            background-image: url(/resources/images/Smart-Submittals-empty-state.png);
            background-size: 100%;
            background-repeat: no-repeat;
            width: 400px;
            height: 204px;
            display: block;
        }
        .common-icon-No-Item-Available:before {
            content: "";
        }
        .empty-rows-mark {
            color: #666;
        }
    }
    .ag-row .ag-cell .ag-row-group-leaf-indent .ag-group-value {
        color: #333333 !important;
    }
    .ag-row .ag-cell {
        .ag-cell-wrapper {
            .ag-group-value {
                color: #333 !important;
            }
        }
    }
    .ag-theme-alpine.sui-grid {
        .ag-full-width-container>div {
            z-index: 1;
        }
    }
    .custom-group-header-cls {
        display: flex;
        align-items: center;
         justify-content : space-between;
    }
}