.te-inventory-rtls-list {
	&.MuiDataGrid-root {
		.MuiDataGrid-row {
			height: 4vh;

			.MuiDataGrid-cell {
				.tool-image {
					width: 3vh;
					height: 3vh;
				}

				.active {
					color: lightgreen;
				}

				.idle {
					color: orange;
				}

				.inactive {
					color: crimson;
				}
			}
		}
	}
}