.main-grid {
	.MuiInputBase-root {
		margin-top: 0px;
	}
	
	.inputs-wrapper {
		display: flex;
		align-items: center;
	}
}
.import-button {
	justify-content: end;
	padding: 10px 24px 10px 10px
}