.clientpayapp-cls {
    .titlebar-inner-items.title-text {
        font-size: 24px;
        padding-top: 5px;
        &:before {
            content: "\ec10";
            font-family: 'common-webfont';
            margin-right: 6px;
        }
    }
}