.General-settings {
    .budgetSetting-heading {
        font-size: 16px;
        color: #333333;
        font-weight: bolder;
        font-family: "Roboto-Regular";
        -webkit-font-smoothing: antialiased;
        padding-left: 12px;
    }
    .MuiFormControlLabel-root {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .generalSettings-Sections {
        padding: 0px 10px 10px 10px;
        .generalSettings-list {
            .generalSettings-listitem {
                padding: 10px 0px 0px 10px;
                .generalsettingtext {
                    .MuiListItemText-primary {
                        font-size: 16px;
                        font-family: 'Roboto-Regular' !important;
                        -webkit-font-smoothing: antialiased;
                    }
                }
            }
        }
    }
    .BudgetSettings-Sections {
        padding: 10px 10px 10px 10px;
        .BudgetSettings-list {
            padding: 0px 10px 0px 10px;
            .smartdropdown {
                padding-left: 2px !important;
            }
        }
    }
    .BudgetSettings-Sections2 {
        padding: 10px 10px 10px 10px;
        .BudgetSettings-list2 {
            padding: 0px 10px 0px 10px;
            .smartdropdown {
                padding-left: 2px !important;
            }
        }
    }
    .PlannerSettings-Sections {
        padding: 10px 10px 10px 10px;
        .PlannerSettings-list {
            .PlannerSettings-listitem {
                padding: 10px 0px 0px 10px;
                .PlannerSettingstext {
                    .MuiListItemText-primary {
                        font-size: 16px;
                        font-family: 'Roboto-Regular' !important;
                        -webkit-font-smoothing: antialiased;
                    }
                }
            }
        }
    }
    .BudgetReport-Sections {
        padding: 10px 10px 10px 10px;
        .BudgetReport-list {
            .BudgetReport-listitem {
                padding: 10px 0px 0px 10px;
                .BudgetReporttext {
                    .MuiListItemText-primary {
                        font-size: 16px;
                        font-family: 'Roboto-Regular' !important;
                        -webkit-font-smoothing: antialiased;
                    }
                }
            }
        }
    }
}