.reservationDetails{
	.resevationmodel{
		.title-text{
			color:red;
		}
		.MuiDialog-container .MuiPaper-root .MuiDialogTitle-root {
			display: flex;
			line-height: 2;
			font-weight: 500;
			padding: 0.25em 1em !important;
		}
		
	}
	
}
.reservation-container{
	padding:10px 0px;
	// .MuiOutlinedInput-input{
	// 	padding: 2px;
	// }
	
	.locationtype{
		width:100%
	}
	.reason{
		.MuiInputBase-input{
			height:60px;
			width:400px;
			padding:0px;
		}
	}
	.savebutton{
		text-align: right;
		.MuiButton-root{
			color:white !important;
		}
	}
}
