.QRCodeAlert {
    .QRTextField {
        width: 100%
    }
    .QRCodeButton {
        text-align: end;
        .submit-cls {
            background-color: #059cdf !important;
            color: #fff !important;
            padding: 12px 20px 12px 20px;
            height: 32px;
            margin-top: 10px;
            border-radius: 2px;
            text-transform: uppercase !important;
        }
    }
}

.pt-CompanyTooltip-main {
    .Pt-CompanyTooltip {
        display: flex;
        width: 100%;
        .left-section {
            width: 10px;
            border-radius: 5px 0px 0px 5px;
        }
        .right-section {
            padding: 15px 12px 15px 10px;
            .CT-section {
                margin-top: 10px;
                .CT-icons {
                    padding-right: 8px;
                    font-size: 1rem;
                }
            }
            .companyDetails {
                display: flex;
                width: 100%;
                .phone {
                    padding-left: 15px;
                }
            }
        }
    }
}