.TimePicker_main {
    width: 50%;
    .MuiInputBase-input {
        font-size: 14px;
        -webkit-text-fill-color: #333 !important;
        padding: 8px 4px 0px 0px !important;
    }
    .MuiInputAdornment-root {
        margin-top: 4px;
    }
}