.phases-grid {
    height: 170px;
    width: 100%;
    overflow-y: auto;
    .ag-header {
        display: none;
    }
    .ag-cell {
        text-align: left;
        .phases-color-picker-cell {
            display: flex;
            align-items: center;
            justify-content: center;
            height: inherit;
        }
    }
    .phases-name-cell {
        padding-left: 14px;
    }
    .ag-row-dragging {
        background-color: #FFFBD7 !important;
    }
    .ag-root-wrapper {
        border-width: 0;
    }
}

.phases-grid-wrapper {
    &_toolbar {
        padding-left: 20px;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
    }
    &_footer {
        display: flex;
        justify-content: end;
        margin: 22px 22px 0 0;
        button {
            padding-top: 4px !important;
            padding-bottom: 4px !important;
        }
    }
    &_text-field {
        .MuiFormControl-root {
            width: 100%;
            input {
                padding: 10px 5px 10px 30px;
            }
        }
    }
}

.phases-color-change-alert.SuiAlert {
    z-index: 1501;
}