.SuiAlert {
    .MuiDialog-container {
        h2 {
            font-size: 18px !important;
            font-weight: bold;
            button {
                .common-icon-Cancel:before {
                    font-size: 24px;
                    color: #333;
                }
            }
        }
        .MuiPaper-root {
            max-width: fit-content;
        }
        .MuiDialogContent-root {
            padding: 0px 24px 24px 24px !important;
            line-height: 1.4;
            p {
                color: #333;
                span {
                    span {
                        white-space: nowrap;
                    }
                    b {
                        white-space: nowrap;
                    }
                }
            }
        }
    }
    
    .body-text {
        font-size: 14px;
        color: #333;
    }
    .radio-btn-cls {
        margin-left: -2px;
    }
    .updatebudget-button-section {
        text-align: center;
        .updatebudget-button {
            background-color: #fe6d0e;
        }
    }
}