.safety-violation-container {
    height: 100%;
    display: flex;
    width: 60em;
    flex-direction: column;
    .inputlabel {
        font-family: "Roboto-Regular" !important;
        color: #666 !important;
        font-size: 14px !important;
        line-height: 1.6;
        text-align: left;
    }
}

.safety-violation-popup {
    border: 1px solid #dadada;
    border-radius: 2px;
    width: 63em;
    max-Width: 900px !important;
    background-color: #fff;
    box-shadow: 0px 1px 4px 0px #dadada;
    .popover-container {
        width: 60em;
        height: 18.5em;
        margin: 20px;
        .header {
            color: #333 !important;
        }
        .MuiInputLabel-asterisk {
            color: red !important;
        }
        .reason-textfield-cls {
            display: flex;
            gap: 4px;
            margin-top: 10px;
        }
        .fields-container {
            display: flex;
            margin-top: 14px;
            width: 100%;
            justify-content: space-between;
            gap: 20px;
            .fields {
                display: block;
                width: 33.3%;
                .common-icon-warning-medal:before {
                    font-size: 20px;
                    color: #ed7431;
                }
                .iq-customdate-cont {
                    width: 99%;
                }
            }
            .MuiInputBase-input {
                text-align: left;
                padding: 6px 18px 2px 0px;
            }
        }
        .MuiTextField-root {
            .MuiInputBase-input {
                padding: 0px 14px;
                min-height: 60px;
            }
        }
        .add-button-cls {
            display: flex;
            justify-content: flex-end;
            text-align: center;
            margin: 16px 0px;
            .MuiButton-root {
                justify-content: center !important;
                border: 1px solid #EE7A3A;
                color: #EE7A3A !important;
                background-color: transparent !important;
                height: 34px;
                border-radius: 2px;
            }
        }
    }
    .Mui-disabled {
        border: 1px solid rgba(0, 0, 0, 0.26);
    }
}

.upload-type-menu {
    .MuiButton-root {
        padding: 0px 2px;
        background-color: #059cdf;
        padding-top: 0px !important;
        &:hover {
            background-color: #059cdf;
        }
        .MuiButton-startIcon,
        .MuiButton-endIcon {
            margin: 0 0.6em;
            width: 1em;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: right;
        }
        .common-icon-Add {
            margin-top: -3px;
            margin-right: -2px;
            &:before {
                font-size: 18px;
                line-height: 2;
            }
        }
        .common-icon-down-arrow1:before {
            font-size: 18px;
            line-height: 1.5;
        }
    }
}

.saftey-violation-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.start-date-field {
    flex: 1;
    .iq-customdate-cont {
        margin-top: 10px;
    }
}