.labor-sheet-dialog {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    .grid {
        flex: 4;
        margin: 10px 0;
        height: 100%;
    }
    .MuiDialog-container {
        .MuiPaper-root {
            .MuiDialogTitle-root {
                grid-template-columns: 3fr 0fr 1fr !important;
                .title-text {
                    font-size: 20px;
                    margin-left: 8px;
                }
            }
        }
    }
    .MuiDialogContent-root {
        border-top: 0px solid rgba(0, 0, 0, 0.12);
        border-bottom: 0px solid rgba(0, 0, 0, 0.12);
        .ag-row .ag-cell .ag-cell-wrapper {
            .ag-group-value {
                color: #059cdf !important;
            }
        }
    }
    .MuiDialogActions-root {
        .pick-btn-cls {
            text-transform: uppercase !important;
        }
    }
}