.SBSLinks {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .header-text {
        height: 3em;
        padding: 1em 0.4em 0em 0.2em;
        font-size: 17px;
        font-weight: bold;
    }
    .toolbar {
        display: flex;
        justify-content: space-between;
        .left-Section {
            display: flex;
            div {
                .iq-button {
                    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
                }
            }
            .icon-section {
                display: flex;
                margin-left: 10px;
                .ref-delete-btn {
                    color: #333;
                }
                .Mui-disabled {
                    color: #999;
                }
            }
        }
        .right-section {
            display: flex;
            .iqsearch-field .MuiInputBase-root {
                border-left: 0px solid rgb(194, 194, 194) !important;
            }
        }
    }
    .grid {
        flex: 4;
        margin: 10px 0;
        .app-items-cell-contentt {
            display: flex;
            .link-name-icon {
                background-color: #059cdf;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                text-align: center;
                display: flex;
                align-content: stretch;
                justify-content: center;
                flex-direction: column;
                margin-right: 4px;
            }
            .link-name-tag {
                font-weight: 600;
            }
        }
    }
}