@import "Smart_theme_variable";

.segment-container {
    .toggle-grp-btn {
        height: 35px;
        .Mui-selected {
            color: #fff;
            background-color: $buttonColor;
        }
        .Mui-selected:hover { 
            background-color: $buttonColor;
        }
    }
    .toggle-btn {
        color: $buttonColor;
        border-color: $buttonColor;
        text-transform: initial;
    }
}

