.container {
  .recharts-legend-item {
    margin-bottom: 30px !important;
    width: 200px;
    font-size: 30px;
  }

  .recharts-legend-item.legend-item-2 {
    opacity: 0;
  }

  .recharts-legend-item-text {
    color: black !important;
    margin-left: 10px;
  }

  .chartWrapper {
    position: relative;

    .chartAreaWrapper::-webkit-scrollbar {
      background: none;
      height: 50px;
    }

    *::-webkit-scrollbar {
      width: 10px;
    }

    *::-webkit-scrollbar-track {
      background-color: var(--custom-white);
    }

    *::-webkit-scrollbar-thumb {
      background-color: var(--dark-blue);
      border-radius: 20px;
      border: 3px solid var(--custom-white);
    }

    /* Button */
    .chartAreaWrapper::-webkit-scrollbar-button:single-button {
      // background-color: white;
      background-size: 50px;
      background-repeat: no-repeat;
    }

    /* Left */
    .chartAreaWrapper::-webkit-scrollbar-button:single-button:horizontal:decrement {
      width: 50px;
      background-position: 0px 0px;
      background-image: url("./left.png");
    }

    /* Right */
    .chartAreaWrapper::-webkit-scrollbar-button:single-button:horizontal:increment {
      width: 50px;
      background-position: 0px 0px;
      background-image: url("./right.png");
      background-repeat: no-repeat;
    }

    .chartAreaWrapper::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
      background-image: url("./hoverLeft.png");
    }

    .chartAreaWrapper::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
      background-image: url("./hoverRight.png");
    }
  }

  .chartWrapper .BarChart {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
  }

  .chartAreaWrapper {
    width: 1250px;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .container1 {
    .img {
      height: 70px;
      width: 70px;
      border: 1px solid black;
      border-radius: 50%;
      margin-left: 95px;
    }

    .img1 {
      height: 70px;
      width: 70px;
      border: 1px solid black;
      border-radius: 50%;
      margin-left: 165px;
    }

    .img3 {
      height: 70px;
      width: 70px;
      border: 1px solid black;
      border-radius: 50%;
      margin-left: 100px;
    }

    .img5 {
      height: 70px;
      width: 70px;
      border: 1px solid black;
      border-radius: 50%;
      margin-left: 100px;
    }

    .img8 {
      height: 70px;
      width: 70px;
      border: 1px solid black;
      border-radius: 50%;
      margin-left: 100px;
    }
  }
}