.project-team-cls {
    .live-support-cls {
        margin-right: 6px;
        width: 30px;
    }
    .toastmessage-div {
        z-index: 99999;
    }
    .MuiPaper-root {
        .MuiDialogTitle-root {
            padding: 0.3rem .5rem 0.3rem 1rem !important;
            .title-text {
                font-size: 18px;
                padding-left: 2px;
                color: #333 !important;
            }
        }
    }
    .reserved-staff-cls {
            position: absolute;
			left: 10px;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background-color: #B873D7;
			color: white;
			font-size: 10px;
			top: 18px;
            span {
                text-align: center;
				position: absolute;
				left: 5px;
				top: -11px;
            }
    }
    .projectteam_gridColumn {
        color: #0590cd;
    }
    .pt-skills,
    .pt-policyStatus,
    .pt-safetyStatus,
    .pt-regions,
    .pt-hourlyRate {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .supplemetal-info-btn {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: auto;
        padding-left: 0px;
        padding-right: 10px;
        min-width: 50px;
        margin-top: 2px;
        background-color: transparent !important;
        color: #0590cd;
        box-shadow: none !important;
    }
    .ag-header {
        .ag-header-row {
            background-color: #fff;
        }
        .ag-header-cell {
            background-color: #fff !important;
        }
    }
    .ag-header-cell-text {
        text-transform: uppercase;
        font-size: 15px;
        color: #000;
    }
    .toolbar-root-container {
        padding: 0.18rem 0.6rem 0.18em 0.9em;
        .toolbar-item-wrapper.options-wrapper {
            flex: 4;
            button {
                color: #333;
                .icon-size {
                    width: 24px;
                    height: 24px;
                }
                .common-icon-refresh:before {
                    font-size: 22px;
                }
                .common-icon-add:before {
                    font-size: 22px;
                }
                .common-icon-Edit:before {
                    font-size: 25px;
                }
                .common-icon-Deactivate:before {
                    font-size: 28px;
                    margin-left: -2px;
                    line-height: 0.9;
                }
                .common-icon-none:before {
                    font-size: 26px;
                }
                .common-icon-procor-icon:before {
                    font-size: 23px;
                }
                .common-icon-Print1:before {
                    font-size: 27px;
                    margin-left: -1px;
                    line-height: 0.9;
                }
                .common-icon-email-message:before {
                    font-size: 24px;
                    line-height: 1.1;
                }
                .common-icon-Safety-Settings {
                    line-height: 1;
                    &:before {
                        font-size: 24px;
                    }
                }
                .common-icon-reinvite:before {
                    font-size: 1.6rem;
                }
                .common-icon-new-gear:before {
                    content: "\eaf9";
                }
                .common-icon-DateCalendar:before{
                    font-size: 1.6rem; 
                }
            }
            .iq-border-button {
                border: 1px solid #aaa;
                border-radius: 4px;
                padding: 3px 10px 3px 6px;
                font-family: 'Roboto-Regular';
                font-size: 13px !important;
                font-weight: bold;
                span {
                    margin-right: 4px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                }
                .common-icon-Verify:before {
                    font-size: 18px;
                }
                .common-icon-worker-attestment:before {
                    font-size: 20px;
                }
            }
            .Mui-disabled.iq-verify-button {
                background-color: transparent;
                color: #333 !important;
                border-color: #aaa;
            }
            .iq-verify-button {
                background-color: #377d22;
                color: #fff !important;
                font-weight: normal;
                border-color: #377d22;
            }
            .iq-manager-button {
                background-color: #fff;
                color: #F4AE7D !important;
                font-weight: normal;
                border-color: #F4AE7D;
            }
            .iq-reverse-button {
                background-color: #fff;
                color: #9CD9F2 !important;
                font-weight: normal;
                border-color: #9CD9F2;
            }
        }
        .search-wrapper {
            flex: inherit;
            width: 270px;
        }
        .toolbar-group-button-wrapper {
            flex: inherit;
            .common-icon-QR-Code:before {
                color: #333;
                font-size: 26px;
            }
            .toggle-wrap {
                margin-left: 15px;
                .common-icon-SafetyPermit:before {
                    font-size: 1.2rem !important;
                    line-height: 1.4;
                }
            }
        }
        .showusergroup-true {
            width: 234px;
            .user-group-cls {
                margin-right: 20px;
                border-radius: 0px 4px 4px 0px;
            }
            .rtls-tab-cls {
                border-radius: 4px 0px 0px 4px;
                border: 1px solid #0000001f;
            }
        }
    }
    .MuiDrawer-paperAnchorRight {
        .MuiTabs-root {
            .icon-container {
                height: 1.4em !important;
                .common-icon-user-details:before,
                .common-icon-SafetyPermit:before {
                    font-size: 20px;
                }
                .common-icon-badge:before {
                    font-size: 21px;
                    line-height: 1.5;
                }
                .common-icon-Last-Name:before {
                    font-size: 26px;
                }
                .common-icon-orgconsole-safety-policies:before {
                    font-size: 18px;
                }
                .common-icon-certification:before {
                    line-height: 1.3;
                }
                .common-icon-safety-violation:before {
                    font-size: 22px;
                    line-height: 1.4;
                }
            }
        }
    }
    .project-team-row-disabled-cls {
        opacity: 0.4;
        border-right: thin solid #999;
        margin-left: 0.5px;
        box-shadow: none;
        border-color: #b2b2b2;
    }
    .project-team-row-active-cls {
        opacity: 1;
    }
    .ag-row {
        border-bottom: var(--ag-borders-row) transparent;
        border-bottom: 0px;
        .ag-cell {
            align-items: center;
            display: flex;
            color: #666;
            padding-right: 0px;
            .MuiCheckbox-root {
                cursor: pointer;
                background-color: transparent;
            }
            .pt-tradeName,
            .pt-role-column {
                width: 100%;
            }
        }
        .thumbnail_image {
            object-fit: cover;
            border: 1px solid #ddd;
        }
    }
    .ag-row-footer {
        .ag-cell {
            background-color: #d9d9d9 !important;
        }
    }
    .MuiDialogContent-root {
        border-top: 1px solid #eee;
    }
    .ag-theme-alpine {
        .ag-root-wrapper {
            border: var(--ag-borders) #eee;
        }
        .ag-header {
            border-bottom: var(--ag-borders-critical) #eee;
        }
    }
    .ag-pinned-left-header {
        border-right: var(--ag-borders-critical) #dbdbdb;
    }
    .ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right):not(.ag-cell-range-single-cell) {
        border-right: var(--ag-borders-critical) #dbdbdb;
    }
    .ag-pinned-left-cols-container,
    .ag-pinned-left-header {
        /*box-shadow: 0px -4px 4px 0px #dadada;
        z-index: 1;*/
        box-shadow: none;
        z-index: 0;
        height: 100% !important;
        border-right: 1px solid #dbdbdb;
        .ag-row {
            --ag-borders-critical: var(--ag-borders);
            --ag-borders: solid 1px;
            --ag-border-color: #333333;
        }
    }
    .pt-safetyStatus {
        color: #fff;
        padding: 0px 8px;
        border-radius: 4px;
        height: 28px;
        align-items: center;
        display: flex;
        &.renewalrequired:before,
        &.partiallyregistered:before,
        &.not-submitted:before,
        &.awaiting-verification:before,
        &.verified-inprobation:before,
        &.probation-violation:before,
        &.removed-violation:before,
        &.probation-awaitingfullservice:before {
            content: "\eaf7";
            font-family: "common-webfont";
            vertical-align: bottom;
            font-size: 15px;
            margin-right: 4px;
        }
        &.verified-fullservice:before {
            content: "\e97b";
            font-family: "common-webfont";
            vertical-align: bottom;
            font-size: 15px;
            margin-right: 4px;
        }
    }
    .header_icon {
        border: 1px solid #d5d1d1;
        width: 30px !important;
        height: 30px !important;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0px 1px 2px #9a9a9a;
        position: absolute;
        &:before {
            font-size: 33px;
            line-height: 0.9;
            margin-left: -2px;
        }
    }
    .pt-policyStatus {
        color: #29b6f7;
        cursor: pointer;
        &.pending:before,
        &.na:before,
        &.worker-acknowledged:before {
            content: "\ea90";
            font-family: "common-webfont";
            vertical-align: inherit;
            font-size: 14px;
            margin-right: 8px;
            color: red;
        }
        &.na {
            color: #999;
            cursor: inherit;
            &:before {
                color: #999;
            }
        }
        &.worker-acknowledged:before {
            color: green;
        }
    }
    .pt-certificateStatus {
        color: #29b6f7;
        cursor: pointer;
        &.na {
            color: #999;
            cursor: inherit;
        }
        &.pending:before,
        &.na:before,
        &.expired:before,
        &.not-verified:before,
        &.verified:before,
        &.about-toexpire:before {
            content: "\eb06";
            font-family: "common-webfont";
            vertical-align: sub;
            font-size: 22px;
            margin-right: 0px;
            color: red;
        }
        &.pending:before {
            color: #f9d108;
        }
        &.na:before {
            color: #999;
        }
        &.not-verified:before {
            color: darkred;
        }
        &.verified:before {
            color: green;
        }
        &.about-toexpire:before {
            color: orange;
        }
    }
    .pt-Company,
    .base-container,
    .inside-grid-cell-cls,
    .MuiBox-root {
        .dropdown-without-chip-cls {
            display: flex;
        }
    }
    .pt-email,
    .pt-Company,
    .pt-roleIds,
    .pt-tradeName,
    .pt-phone,
    .pt-rtlsId,
    .pt-projectZonePermissions,
    .pt-role-column {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
    }
    .pt-timeSpentEver-info {
        cursor: pointer;
        font-size: 1.5em;
        margin-left: 2px;
    }
    .pt-roleIds {
        color: #29b6f7;
    }
    .pt-role-column,
    .pt-role-column .smart-dropdown-without-chip-cls {
        color: #0590cd;
        cursor: pointer;
    }
    .pt-role-column .inside-grid-cell-cls {
        display: grid;
    }
    .icon_size {
        font-size: 1.5rem;
    }
    .status_icon {
        padding-left: 10px;
    }
    .ag-row-group-expanded,
    .ag-row-group-contracted {
        background: #c8cbcc !important;
        opacity: 1;
        &::before {
            content: normal;
            background: #c8cbcc !important;
        }
        .ag-cell-wrapper.ag-row-group {
            background: #c8cbcc !important;
            .ag-checkbox-input-wrapper.ag-checked:after {
                font-size: 28px;
                margin-left: -5.8px;
                margin-top: 0px;
            }
        }
        .ag-cell-wrapper.ag-row-group span.ag-group-value {
            z-index: 1 !important;
        }
        .ag-cell {
            background-color: #c8cbcc !important;
            .ag-group-child-count {
                color: #333;
            }
        }
    }
    .navigate-to-home {
        left: 10px;
        top: 0px;
        position: absolute;
        .common-icon-home {
            border: 0px solid #fff;
            box-shadow: none;
            &:before {
                content: "\ea15";
                font-family: "common-webfont";
                color: #ee7532;
                height: 40px;
                width: 40px;
                border: 1px solid #d4cdcd;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0px 1px 5px #d4cdcd;
                font-size: 25px;
                background-color: #fff;
            }
        }
    }
    &.project-team-cls-isOrgSubscribed {
        .MuiPaper-root {
            .MuiDialogTitle-root {
                .title-text {
                    margin: 2px 50px;
                }
            }
        }
    }
}

.teamorientation-true {
    .MuiPaper-root {
        .MuiDialogTitle-root {
            padding: 0rem 0.5rem 0rem 1rem !important;
            height: 50px;
            .title-text {
                margin: 2px 54px;
            }
            .title-tools {
                position: absolute;
                button {
                    margin-left: 0px !important;
                    padding-left: 0px;
                    .common-icon-home {
                        border: 0px solid #fff;
                        box-shadow: none;
                        &:before {
                            content: "\ea15";
                            font-family: "common-webfont";
                            color: #f2bb13;
                            height: 40px;
                            width: 40px;
                            border: 1px solid #d4cdcd;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            box-shadow: 0px 1px 5px #d4cdcd;
                            font-size: 25px;
                            background-color: #fff;
                        }
                    }
                }
                .projectteam-help {
                    position: fixed;
                    right: 1%;
                    top: 1%;
                }
            }
        }
    }
}

.onlinestatus-custom-cls {
    display: flex;
    .rmdp-container {
        margin-right: 12px;
        max-width: 132px;
    }
}

.onlinestatus-footer-cls {
    display: flex;
    justify-content: right;
    margin-top: 10px;
    .cancel-btn {
        border: 1px solid #666 !important;
        color: #666;
        margin-right: 10px;
    }
    .apply-btn {
        background-color: #059cdf !important;
        color: #fff;
        border-color: #059cdf !important;
    }
}

.custom-group-header-cls {
    [class^="common-icon-"] {
        width: 24px;
        height: 24px;
        text-align: center;
    }
    .common-icon-work-team:before,
    .common-icon-Approval-Role:before,
    .common-icon-Safety-Onboarding-Flyer:before,
    .common-icon-certification:before,
    .common-icon-none:before {
        font-size: 18px;
        margin: 0px 0px 0px -2px;
        line-height: 0.8;
    }
}

.pt-first-name_editor-cls {
    .MuiInputBase-input {
        color: #666 !important;
        background-color: white;
    }
    fieldset {
        border: 2px solid #059cdf !important;
    }
}
.reserve-Staff-dialog {
    .title-tools .common-icon-close::before {
        font-size: 1em;
    }
    .MuiDialogTitle-root {
        .title-text {
            display: flex;
            font-size: 16px;
            font-weight: bold;
            height: 1.25em;
        }
    }
    .MuiDialogContent-root {
        border: none;
    }
}