.contracts-sign-modal {
    &_sig-pad-wrapper {
        padding: 8px;
        border: 1px solid #b8b8b8;
        border-radius: 2px;
        margin-bottom: 20px;
    }
    &_sig-pad-title,
    &_decline-title {
        margin-bottom: 4px;
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #666;
        margin-top: 10px;
        .MuiSvgIcon-root {
            margin-right: 10px;
        }
    }
    &_decline-title {
        font-weight: 400;
        .common-icon-Description:before {
            color: #666;
            font-size: 26px;
            vertical-align: super;
            margin-right: 4px;
            margin-left: -4px;
        }
    }
    .MuiTextField-root {
        .MuiInputBase-root {
            border-radius: 2px;
        }
    }
    &_sig-pad-title {
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 5px;
        .common-icon-signature:before {
            font-size: 24px;
            margin-right: 6px;
        }
    }
    &_sig-pad {
        border: 1px solid lightgray;
        border-radius: 4px;
        width: 100%; //height: 170px;
    }
    &_sign-above-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .contracts-sign-modal_sign-eraser {
            position: absolute;
            right: 2px;
            cursor: pointer;
            font-size: 26px;
            margin-top: 4px;
            color: #666;
        }
    }
    &_decline-textarea {
        height: 100px;
        margin-bottom: 10px;
        .MuiTextField-root {
            width: 100%;
        }
        .MuiOutlinedInput-root {
            height: 100px;
        }
    }
    .contracts-sign-modal_content.MuiDialogContent-root {
        padding: 0 16px 16px 16px !important;
    }
    .MuiPaper-root {
        width: 480px;
    }
    .MuiDialog-container .MuiPaper-root .MuiDialogTitle-root {
        line-height: inherit;
        font-size: 18px;
        .common-icon-close {
            font-size: 18px;
            color: #333;
        }
    }
    &_sign-above-txt {
        font-size: 13px;
        color: #333;
    }
    &_agree-text {
        font-size: 15px;
        color: #333;
        line-height: 1.4;
    }
    .MuiCheckbox-root {
        padding: 0px 6px 6px 0;
        float: left;
    }
    .MuiButton-root {
        line-height: 36px;
        border-radius: 2px;
        &.diabled-btn-cls {
            opacity: 0.4;
            pointer-events: none;
        }
    }
    .MuiDialogActions-root>:not(:first-of-type) {
        margin-left: 16px;
    }
    .MuiPaper-root .MuiDialogActions-root {
        padding: 0.5em 1em 1em 1em;
    }
}