	.icon-size {
	    font-size: 1.5rem !important;
	}

	.floating-toast-cls.in-lefttoolbar {
	    background-color: #333 !important;
	    border: 1px solid #333 !important;
	    border-radius: 30px !important;
	    box-shadow: none !important;
	    padding: 4px 10px !important;
	    width: auto;
	    z-index: 2000;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    .MuiAlert-icon {
	        display: none;
	    }
	    .MuiAlert-action {
	        display: none;
	    }
	}