.ev-links {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .eventrequest-details-box {
        //padding: 0 1em;
        .eventrequest-details-header {
            min-height: 3em;
            display: flex;
            align-items: end;
            .title-action {
                flex: 1;
                display: flex;
                align-items: center;
                .title {
                    font-family: "Roboto-Regular";
                    font-size: 15px;
                    font-weight: bold;
                }
            }
        }
        .eventrequest-details-content {
            display: grid;
            grid-gap: 1em 2em;
            grid-template-columns: repeat(3, 30%);
            .eventrequest-info-tile {
                display: flex;
                flex-direction: column;
                &.span-2 {
                    grid-column: span 2;
                }
                &.division-cost-code-field {
                    .eventrequest-info-data-box>.MuiBox-root {
                        width: 100%;
                        .MuiInputBase-root {
                            position: relative;
                            top: -5px;
                            font-size: 16px !important;
                        }
                    }
                }
                &.vendor-field {
                    .eventrequest-info-data-box>div {
                        width: 100%;
                        .MuiInputBase-root {
                            width: 100% !important;
                        }
                    }
                }
                &.date-field {
                    .eventrequest-info-data-box {
                        .eventrequest-info-data {
                            // width: 100%;
                            //padding: unset;
                            >div {
                                width: 100%;
                                &.iq-customdate-cont {
                                    margin: unset;
                                }
                            }
                        }
                    }
                }
                .budget-info-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.25em;
                    &:before {
                        color: #ed7532;
                    }
                }
                .eventrequest-info-label {
                    display: flex;
                    align-items: center;
                    padding: 1em 0 0.4em 0;
                    color: #808080;
                    font-family: 'Roboto-Regular' !important;
                    >svg {
                        margin-left: 0.5em;
                    }
                }
                .eventrequest-info-data-box {
                    display: flex;
                    align-items: center;
                    min-height: 35px;
                    .contract-info-data {
                        color: #333333;
                        padding-left: 0.5em;
                    }
                    .eventrequest-info-data {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        line-height: 1.2;
                        font-family: 'Roboto-Regular' !important;
                        color: #333333;
                        padding-left: .5em;
                    }
                    .common-icon-Budgetcalculator {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
    .iconmodify {
        color: #ed7431 !important;
        font-size: 20px !important;
    }
    .link-headersection {
        margin-top: 12px;
        display: flex;
        justify-content: space-between;
        .left-section {
            display: flex;
            gap: 1em;
        }
        .right-section {
            .iqsearch-field .MuiInputBase-root {
                border-left: 0px solid rgb(194, 194, 194) !important;
            }
        }
    }
    .links-grid {
        flex: 4;
        margin: 10px 0px;
    }
    .right-align {
        width: 100%;
        text-align: right;
    }
    .center-align {
        width: 100%;
        text-align: center;
    }
}