.cer-confirmation {
    // .MuiDialogTitle-root {
    // 	padding-left: 1em !important;
    // 	.titlebar-inner-items {
    // 		&.title-text {
    // 			font-size: 20px !important;
    // 			font-weight: bold;
    // 		}
    // 	}
    // }
    // .MuiDialogContent-root {
    // 	padding: 1.5em !important;
    // 	border: unset;
    // 	display: flex;
    // 	flex-direction: column;
    // 	gap: 1em;
    // 	.sui-grid {
    // 		height: 60% !important;
    // 		.ag-root-wrapper {
    // 			.ag-root-wrapper-body {
    // 				height: 100%;
    // 				.ag-root {
    // 					.ag-body-viewport {
    // 						.ag-center-cols-clipper {
    // 							.ag-center-cols-viewport {
    // 								.ag-center-cols-container {
    // 									.ag-row {
    // 										.work-item-cell {
    // 											    word-break: break-all;
    // 												white-space: break-spaces;
    // 												// line-height: 1.5;
    // 										}
    // 										.info-cell {
    // 											.info-cell-box {
    // 												display: flex;
    // 												align-items: center;
    // 												gap: 0.5em;
    // 												.info-icon {
    // 													width: 24px;
    // 													height: 24px;
    // 													border-radius: 50%;
    // 													border: 1px solid #e2e2e2;
    // 												}
    // 											}
    // 										}
    // 									}
    // 								}
    // 							}
    // 						}
    // 					}
    // 					.ag-floating-bottom {
    // 						.ag-row-pinned {
    // 							background-color: #f8f8f8 !important;
    // 							&:before, &.ag-row-hover {
    // 								background-color: #f8f8f8 !important;
    // 							}
    // 							.ag-cell:first-child {
    // 								text-align: right;
    // 							}
    // 						}
    // 					}
    // 				}
    // 			}
    // 		}
    // 	}
    // 	.sign-box {
    // 		gap: 1em;
    // 	}
    // 	.declaration {
    // 		font-size: 14px;
    // 		white-space: pre;
    // 		display: flex;
    // 		align-items: center;
    // 		.MuiCheckbox-root {
    // 			padding-left: unset;
    // 		}
    // 	}
    // }
    // .MuiDialogActions-root {
    // 	.iq-blue {
    // 		&.Mui-disabled {
    // 			background-color: #059cdf;
    // 			opacity: 0.5;
    // 		}
    // 	}
    // }
}

.confirmation-type-selector,
.confirmation-authorize {
    .MuiDialogTitle-root {
        padding: 0.5em 0 0 24px;
        .MuiButtonBase-root {
            padding-top: 0;
        }
    }
    .type-selector-context {
        // .conformation-paragraph {
        // 	font-weight: bold;
        // }
        .radio-group-section {
            border: 1px solid gray;
            border-radius: 10px;
            margin-bottom: 5px;
            margin-top: 5px;
            padding: 0px 10px 6px 10px;
            .paragraph {
                font-size: 14px;
            }
        }
        .active {
            border: 1px solid #289bdb;
            border-bottom: 1px solid #289bdb;
            border-radius: 10px;
            background-color: #e7f5fa;
        }
        .updatebudget-button-section {
            text-align: end;
            padding-top: 1em;
        }
    }
}

.confirmation-authorize {
    p {
        margin: unset;
        padding-top: 2em;
    }
    .updatebudget-button-section {
        padding-top: 3em;
    }
}