.user-badge-info-cont {
    .user-badge-drp-btn {
        background-color: #fff;
        color: #333;
        padding: 0px 8px 0px 4px !important;
        border: 1px solid #666;
        height: 26px;
        border-radius: 15px !important;
        justify-content: flex-start !important;
        width: 200px;
        font-weight: bold;
        line-height: 1;
        .MuiButton-endIcon {
            right: 8px;
            position: absolute;
            svg {
                color: #666;
                font-size: 26px;
            }
        }
        .common-icon-badge {
            width: 25px;
            height: 25px;
            background-color: #333;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 15px;
            margin-left: -1px;
            border: 1px solid #333;
        }
    }
    .user-badge-drp-btn:hover {
        background-color: #fff;
    }
}

#simple-popover {
    .user-menu-items {
        .MuiTypography-root {
            font-size: 14px;
            color: #333;
        }
    }
}