.upload-type-menu {
    // .MuiButton-root {
    // 	// width: 12em;
    // 	// height: 2em;
    // 	padding: 0;
    // 	background-color: #059cdf;
    // 	&:hover {
    // 		background-color: #059cdf;
    // 	}
    // 	.MuiButton-startIcon, .MuiButton-endIcon {
    // 		margin: 0 0.6em;
    // 		width: 1em;
    // 		height: 100%;
    // 		display: flex;
    // 		align-items: center;
    // 		justify-content: right;
    // 	}
    // 	.MuiButton-endIcon {
    // 		padding-left: 0.5em;
    // 		display: flex;
    // 		align-items: center;
    // 		justify-content: center;
    // 	}
    // }
    // .header-text{
    // 	font-size: 16px !important;
    // }
    // .menu-text {
    // 	font-size: 14px !important;
    // }
    // .menu-header {
    // 	padding: 0.25em 0.5em;
    // }
}

.iq-custom-menu-list {
    .common-icon-post-contract {
        font-size: 18px;
        color: #666;
        margin-right: 8px;
    }
    .common-icon-projects {
        font-size: 20px;
        color: #666;
        margin-right: 8px;
    }
    .common-icon-browse-locally {
        font-size: 26px;
        color: #666;
        margin-right: 6px;
        margin-left: -2px;
    }
}