.iq-fileupload-field {
    display: flex;
    flex-direction: column;
    gap: 1em;
    .item-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        &.input {
            height: 2.5em;
            border: 1px solid #a4a4a4;
            border-radius: 0px;
        }
        .tag-container {
            width: inherit;
            padding: 2px;
            display: flex;
            align-items: self-start;
            justify-content: center;
            .placeholder {
                padding-left: 0.6em;
                color: #999;
            }
            .MuiChip-root {
                width: fit-content;
                height: 100%;
                border-radius: 2px;
                border: 1px solid #b7d8e9;
                background-color: #f4fafd;
            }
        }
        .MuiButton-root {
            padding: 2em 1.5em;
            border-radius: 0px;
            border: 1px solid #23a8e3;
            background-color: #e5f7ff;
            margin: -1px;
            color: #059cdf;
        }
    }
}