.originalbudget {
    //background: red;
    .custom-budget-icon-cuttons {
        padding: 0px !important;
        min-width: 10px !important;
    }
    .common-icon-Cost:before {
        color: #ed7532 !important;
    }
}

.orginalbudgetheader {
    padding: 16px 14px 4px 10px !important;
    color: black !important;
}