 .sbs-referenceFile {
     height: 100%;
     width: 100%;
     display: flex;
     flex-direction: column;
     .header-text {
         height: 3em;
         padding: 1em 0.4em 0em 0.2em;
         font-size: 17px;
         font-weight: bold;
     }
     .toolbar {
         display: flex;
         justify-content: space-between;
         .left-Section {
             display: flex;
             .icon-section {
                 display: flex;
                 margin-left: 10px;
                 button {
                     width: 40px;
                     height: 40px;
                     color: #333;
                     span {
                         font-size: 22px; //color: #333;
                     }
                     .common-icon-sketch {
                         font-size: 18px;
                     }
                 }
                 .Mui-disabled {
                     color: #999;
                 }
             }
         }
         .right-section {
             display: flex;
             gap: 0.5em;
             .iqsearch-field .MuiInputBase-root {
                 border-left: 0px solid rgb(194, 194, 194) !important;
             }
         }
     }
     .grid {
         flex: 4;
         margin: 10px 0;
         .app-items-cell-contentt {
             display: flex;
             .ref-name-icon {
                 background-color: #059cdf;
                 border-radius: 50%;
                 width: 28px;
                 height: 28px;
                 text-align: center;
                 display: flex;
                 align-content: stretch;
                 justify-content: center;
                 flex-direction: column;
                 margin-right: 8px;
                 color: #fff;
             }
             .ref-name-tag {
                 color: #059cdf;
             }
         }
     }
     .phaseButton {
         overflow: hidden;
         white-space: nowrap;
         width: auto;
         text-overflow: ellipsis;
         align-items: center !important;
         padding: 6px 10px;
         color: #fff !important;
         .common-icon-phase {
             padding-right: 6px;
             font-size: 20px;
             color: #fff;
             margin-top: -4px;
         }
     }
 }