.phases-color {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    &.selected {
        box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
    }
    .common-icon-phase {
        height: 100%;
        width: 100%;
        display: block;
        &::before {
            color: white;
            justify-content: center;
            display: flex;
            align-items: center;
            height: 100%;
        }
    }
}

.phases-color-picker {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    &_item {
        width: 22px;
        height: 22px;
        cursor: pointer;
        border-radius: 50%;
        &.selected {
            box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
        }
    }
    .common-icon-tick {
        height: 100%;
        width: 100%;
        display: block;
        &::before {
            color: white;
            justify-content: center;
            display: flex;
            align-items: center;
            height: 100%;
        }
    }
}

#phases-color-picker-tooltip {
    border-radius: 5px;
    .MuiTooltip-tooltip {
        background-color: white !important;
        border-radius: 10px;
        margin-top: 8px !important;
        padding: 8px !important;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }
    .MuiTooltip-arrow {
        color: white !important;
        &:before {
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        }
    }
}