// .ag-header {
//     background-color: #e7e7e7 !important;
// }
.ag-row {
    font-family: 'Roboto-Regular';
    .ag-cell {
        .ag-row-group-leaf-indent {
            .ag-group-value {
                color: #059cdf !important;
            }
        }
    }
}

.ag-row-footer {
    .ag-cell {
        background-color: #f2f2f2 !important;
        .ag-row-group-leaf-indent {
            justify-content: end;
            .ag-group-value {
                color: #181d1f !important;
                font-weight: normal;
            }
        }
    }
}

.ag-row-footer {
    background-color: #f8f8f8 !important;
    .ag-row-group-indent-0 {
        justify-content: end;
        .ag-group-value {
            color: #181d1f !important;
            font-weight: normal;
        }
    }
}

.ag-body-horizontal-scroll {
    border-color: #059CDF;
}

.ag-row-group {
    .ag-cell {
        .ag-row-group {
            .ag-group-value {
                color: #181d1f !important;
                font-weight: normal;
                font-family: 'Roboto-Regular'
            }
        }
    }
}

.ag-center-cols-container {
    .ag-row-footer {
        background-color: #f8f8f8 !important;
        .ag-cell-value {
            color: #181d1f !important;
            font-weight: 600;
        }
    }
}

.custom-tooltip {
    margin-top: -5px;
    padding: 5px;
    background-color: black;
    color: white;
    text-align: center;
}

// .budget-grid-cls {
.ag-pinned-left-cols-container .ag-row {
    background: #fff;
}

.ag-pinned-left-cols-container {
    // box-shadow: -6px 0px 6px 6px #949494;
    // z-index: 1;
}

.ag-row-odd {
    background-color: #ffffff !important;
}

.ag-pinned-left-cols-container .ag-row-odd {
    background-color: #fff !important;
}

.ag-header {
    background-color: #F2F2F2 !important;
}

.ag-header-cell-text {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
    font-weight: 500;
    font-family: 'Roboto-Regular';
    font-size: 11pt;
}

.ag-ltr .ag-cell {
    font-family: 'Roboto-Regular';
    align-items: center;
}

.ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right):not(.ag-cell-range-single-cell) {
    border-right: var(--ag-borders-row) var(--ag-row-border-color);
}

.ag-pinned-left-header {
    border-right: var(--ag-borders-row) var(--ag-row-border-color);
}

.ag-pinned-left-cols-container,
.ag-pinned-left-header {
    box-shadow: 0 0 4px 0 #dadada;
    z-index: 1;
}

.ag-ltr .ag-cell input {
    font-size: 14px;
}

.ag-ltr .ag-cell .ag-checkbox-input {
    cursor: pointer;
}

// }
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.ag-cell-inline-editing {
    height: 100%;
}

.no-rows-msg {
    color: #999;
    border: 2px dotted #d9d9d9;
    border-radius: 4px;
    padding: 5px 15px;
    background-color: #fafafa;
    margin-top: 25px;
    .common-icon-No-Item-Available:before {
        color: #d9d9d9;
        font-size: 80px;
	}
	.icon-modify{
        font-size: 80px !important;
	}
}

.empty-rows-mark {
    font-size: 18px;
    margin-bottom: 10px;
}