.toolbar-root-container-budgetmanger {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 16px 0px 10px 0px;
    background-color: white;
    .toolbar-item-wrapper {
        flex: 1;
        &.search-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            .MuiButton-startIcon,
            .MuiButton-endIcon {
                color: gray;
            }
            .iqsearch-field {
                min-height: 1.9rem !important;
            }
        }
        &.toolbar-group-button-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
    .toolbar-group-button-wrapper {
        .lockbuget-button {
            margin: 0px 12px;
            padding: 2px 10px !important;
            color: #059cdf !important;
            border: 1px solid #059cdf !important;
        }
    }
    .MuiIconButton-root {
        padding-left: 0.5em;
        padding-right: 0.5em;
        font-size: 1rem !important;
        &:hover {
            box-shadow: 0px 1px 3px #666;
        }
	}
	.MuiIconButton-root.Mui-disabled {
		opacity: 0.4;
	}
    .MuiToggleButtonGroup-root {
        height: 2rem;
        .MuiToggleButton-root {
            &.Mui-selected {
                color: #fff;
                background-color: #059cdf;
            }
        }
    }
}