@import "Smart_theme_variable";
.clock-container {
    .common-icon-CurrentTime {
        margin-top: 2px;
        &:before {
            color: #ed7532;
            font-size: 1.45rem;
        }
    }
    .MuiInputBase-input {
        padding: 6px 0 2px;
    }
}

.clock-picker {
    .MuiPickersToolbar-penIconButton {
        display: none !important;
    }
}