.project-team-roles-tooltip {
    height: 400px;
    width: 500px;
    font-size: 14px;
    background-color: #333;
    padding: 0px 5px 10px 10px;
    border-radius: 4px;
    &_header {
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        &-left {
            display: flex;
        }
        &-right {
            display: flex;
            font-size: 14px;
        }
        &-icon-wrapper {
            height: 26px;
            width: 26px;
            border: 1px solid #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2px;
        }
        &-icon {
            width: 16px;
            height: 14px;
            color: #fff;
        }
        &-title {
            padding-left: 8px;
            font-size: 16px;
        }
    }
    &_body {
        overflow-y: auto;
        height: 350px;
    }
    &_access {
        &-title {
            padding: 15px 0px 15px 0px;
        }
        &-app-img img {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            border: 1px solid #ccc;
        }
        &-list-item {
            background-color: #3e3e3e;
            padding: 5px 10px;
            margin-bottom: 5px;
        }
        &-list-item-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-left {
                display: flex;
                align-items: center;
            }
        }
        &-app-name {
            padding-left: 8px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 15px;
        }
        &-yes {
            color: #3bff00;
        }
    }
    &_overview {
        margin-top: 10px;
        &-title {
            font-size: 16px;
        }
        &-desc {
            font-size: 14px;
            line-height: 1.4;
            margin-top: 6px;
            margin-bottom: 6px;
        }
        .plandetails-cls {
            .plans-cls {
                border-bottom: 1px solid #666;
                padding: 10px 0px;
                display: flex;
                align-items: center;
                .common-icon-planner:before,
                .common-icon-field:before,
                .common-icon-pro:before {
                    content: "\ec46";
                    font-family: 'common-webfont';
                    font-size: 26px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 12px;
                }
                .common-icon-planner:before {
                    color: #3198f2;
                }
                .common-icon-field:before {
                    color: #379000;
                }
                .common-icon-pro:before {
                    color: #ed7532;
                }
                .common-icon-planner:after,
                .common-icon-field:after,
                .common-icon-pro:after {
                    content: "\ea60";
                    font-family: "common-webfont";
                    margin-left: -1.1em;
                    font-size: 20px;
                    display: inline-block;
                    vertical-align: middle;
                    color: #fff;
                    margin-top: -2px;
                    margin-right: 16px
                }
                .plan-label {
                    width: 100px;
                    text-shadow: 0px 2px #000;
                }
                .boardsandschedule-cls {
                    font-size: 12px;
                    text-shadow: 0px 2px #000;
                }
            }
        }
    }
    .common-icon-next-arrow,
    .common-icon-previous-arrow {
        font-size: 19px;
        &:before {
            cursor: pointer;
            color: #059cdf;
        }
        &_disabled {
            &:before {
                pointer-events: none;
                color: gray;
            }
        }
    }
}