.timelog-details {
    .timelog-details-box {
        //padding: 0 1em;
        .timelog-details-header {
            min-height: 3em;
            display: flex;
            align-items: end;
            .title-action {
                flex: 1;
                display: flex;
                align-items: center;
                .common-icon-details:before {
                    font-size: 24px;
                }
                .title {
                    font-family: "Roboto-Regular";
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
        .timelog-details-subheader {
            min-height: 3em;
            display: flex;
            align-items: end;
            .title-action {
                flex: 1;
                display: flex;
                align-items: center;
                .title {
                    font-family: "Roboto-Regular";
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
        .timelog-details-content-col4 {
            display: grid;
            grid-gap: 1em 1em;
            grid-template-columns: repeat(4, 24.5%);
        }
        .timelog-details-content-col3 {
            display: grid;
            grid-gap: 1em 2em;
            grid-template-columns: repeat(3, 30%);
        }
        .timelog-details-content-col2 {
            display: grid;
            grid-gap: 1em 2em;
            grid-template-columns: repeat(2, 48%);
        }
        .timelog-details-content-col1 {
            display: grid;
            grid-gap: 1em 2em;
            grid-template-columns: repeat(1, 98.5%);
        }
        .timelog-info-tile {
            display: flex;
            flex-direction: column;
            &.span-2 {
                grid-column: span 2;
            }
            &.span-3 {
                grid-column: span 3;
            }
            .timelog-info-label {
                display: flex;
                align-items: center;
                padding: 1em 0 0.4em 0;
                color: #808080;
                font-family: 'Roboto-Regular' !important;
                >svg {
                    margin-left: 0.5em;
                }
                .sublabel {
                    color: #80808082;
                    font-style: italic;
                    padding-left: 2px;
                }
            }
            .timelog-info-data-box {
                display: flex;
                align-items: center;
                min-height: 35px;
                .client-contract-info-data {
                    padding-left: 6px;
                    .phaseButton {
                        cursor: text;
                        box-shadow: none;
                        border-radius: 3px;
                    }
                }
                .contract-info-data {
                    color: #333333;
                    padding-left: 0.5em;
                }
                .timelog-info-data {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 1.2;
                    font-family: 'Roboto-Regular' !important;
                    color: #333333;
                    padding-left: .5em;
                }
                .common-icon-Budgetcalculator {
                    font-size: 1.3rem;
                }
                .common-icon-phase:before {
                    color: #ed7532;
                    font-size: 22px;
                }
            }
        }
        .timelog-icon {
            border-radius: 50%;
            width: 25px;
            height: 25px;
            margin: 0px 10px;
            img {
                border: 1px solid #ccc;
                margin-top: -2px;
                object-fit: contain;
            }
        }
    }
    .description {
        margin-top: 16px;
        .inputlabel {
            display: flex;
            margin-bottom: 4px;
            .common-icon-adminNote:before {
                color: #ed7532;
                font-size: 24px;
                line-height: 0.7;
                margin-left: -5px;
                margin-right: 2px;
            }
        }
    }
    .findingsource {
        margin-top: 16px;
        .MuiRadio-root {
            padding: 9px 2px 9px 9px;
        }
        .title {
            font-family: "Roboto-Regular";
            font-size: 14px;
            font-weight: bold;
        }
    }
    .timeaddedto {
        display: flex;
        cursor: pointer;
        align-items: center;
        gap: 10px;
        >img {
            width: 24px;
            height: 24px;
            border-radius: 2px;
        }
        >span {
            color: #059cdf;
        }
    }
    .phaseimage {
        width: 24px;
        height: 24px;
        border-radius: 2px;
    }
    .iconmodify {
        color: #ed7431 !important;
        font-size: 20px !important;
    }
    .common-icon-Location-filled:before {
        font-size: 18px !important;
    }
    .common-icon-monthly:before {
        font-size: 26px;
    }
    .common-icon-Workactivity:before {
        color: #ed7431 !important;
        font-size: 26px !important;
        margin-left: -2px;
    }
    .common-icon-companies:before {
        color: #ed7431;
        font-size: 18px;
        vertical-align: text-top;
    }
    .common-icon-ContactPicker:before {
        font-size: 24px !important;
    }
    .ec-floating-toast-cls {
        background-color: #3aca9b !important;
        border: 1px solid #3aca9b !important;
        bottom: 120px;
        position: fixed;
        margin: 0px auto !important;
        border-radius: 4px !important;
        box-shadow: 0px 2px 8px 2px #dadada !important;
        padding: 6px 12px 4px 6px !important;
        width: 550px;
        left: 50%;
        .MuiAlert-icon {
            margin-right: 6px;
            &:before {
                content: "\ebb6";
                font-family: "common-webfont" !important;
                color: #fff;
                font-size: 70px;
                line-height: 0.95;
            }
            svg {
                display: none;
            }
        }
        .MuiAlert-action {
            padding: 0px 0 0 28px;
            margin-right: -6px;
            color: #fff;
            svg {
                font-size: 30px;
            }
        }
        .MuiAlert-message {
            padding: 0px 0px;
            margin: auto;
        }
        .ec-toast-text-cls {
            position: relative;
            font-size: 14px;
            float: left;
            color: #fff;
            margin: 5px 0px;
            letter-spacing: 0.2px;
            &.big-text {
                font-size: 20px;
                margin: 5px 0px 5px 0px;
                letter-spacing: 0.5px;
            }
            &.small-text {
                font-size: 13.5px;
            }
            span {
                text-decoration: underline;
            }
            b {
                font-weight: normal;
                border: 1px solid #fff;
                border-radius: 50%;
                margin-right: 8px;
                float: left;
                padding: 0px;
                width: 24px;
                text-align: center;
                line-height: 1.7;
                height: 24px;
            }
            &.toast-line-cls {
                &:before {
                    content: "";
                    position: absolute;
                    left: 12px;
                    top: -10px;
                    width: 1px;
                    height: 10px;
                    background-color: #fff;
                }
                &:first-child::before {
                    display: none;
                }
            }
        }
    }
}