.iqgridwrapper-root {
    height: inherit;
    display: flex;
    flex-direction: column;
    .sui-grid.grid-copy {
        .ag-pinned-left-cols-container {
            .ag-row {
                .ag-cell {
                    padding-left: 28px;
                }
            }
        }
        .ag-pinned-left-header {
            .ag-header-row {
                .ag-header-cell {
                    padding-left: 37px;
                }
            }
        }
    }
}