@import 'Smart_theme_variable';

.aggrid-custom-tooltip {
	position: relative;
	margin-top: -5px;
	padding: 1em 1em;
	background-color: #333;
	color: #f5f5f5;
	border-radius: 6px;
	font-size: $small;
	font-family: $fontFamily;
}

.aggrid-custom-tooltip::before {
	content: attr(data-tooltip);
	position: absolute;
	bottom: 100%;
	transform: translate(-50%);

	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #333;
}